<div class="app flex-row align-items-center" style="background: #284d71">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card-group mb-0"> 
                    <div class="card p-2">
                        <div class="card-block"> 
                            <form #loginForm="ngForm" (ngSubmit)="savePassword();" >
                                    <div style="width:100%; text-align: center" >
                                        <img src="assets/img/logo.png" class="col-md-10 ">
                                        <h2 class="text-muted">Cambiar contraseña</h2>
                                    </div>
                                    <div class="input-group mb-1">
                                        <span class="input-group-addon"><i class="icon-lock"></i>
                                        </span>
                                        <input required type="password" id="contra" name="contra"  [(ngModel)]="password.contra"  #contra="ngModel"  class="form-control" placeholder="Nueva contraseña">
                                    </div>
                                    <div class="input-group mb-2">
                                        <span class="input-group-addon"><i class="icon-lock"></i>
                                        </span>
                                        <input required type="password" id="confirmacion" name="confirmacion" [(ngModel)]="password.confirmacion" #confirmacion="ngModel" class="form-control" placeholder="Confirmar nueva contraseña">
                                    </div>
                                    <div  *ngIf="mensajealerta || mensajealerta2"  class="alert alert-danger"> {{mensajealerta}}{{mensajealerta2}}</div>
                                    <div  *ngIf="accesocorrecto==false"  class="alert alert-danger"> {{alertenvio}}</div>
                                    <div class="row">
                                        <div class="col-6">
                                          <button *ngIf="enviando==false" type="submit"  class="btn btn-primary px-2">Guardar Contraseña</button>
                                          <button *ngIf="enviando==true" class="btn btn-info px-2" style="width:204px;"><i class="fa fa-spinner fa-spin"></i> Enviando</button>
                                        </div>
                                    </div>
                            </form>     
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  
 