<div class="app flex-row align-items-center" style="background: #284d71">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card-group mb-0"> 
                    <div class="card p-2">
                        <div class="card-block"> 
                            <form #loginForm="ngForm" (ngSubmit)="enviarCorreo()" >
                                    <div style="width:100%; text-align: center" >
                                        <img src="assets/img/logo.png" class="col-md-10 ">
                                        <h2 class="text-muted" >Restablecer contraseña</h2>
                                        <p *ngIf="enviocorrecto==false" class="text-muted">Introduce tu dirección de correo y te envíaremos un enlace para que puedas reestablecer tu contraseña</p>
                                    </div>
                                    <div *ngIf="enviocorrecto==false"> 
                                        <div class="input-group mb-1">
                                            <span class="input-group-addon"><i class="icon-envelope"></i>
                                            </span>
                                            <input type="email" id="email" name="email"  [(ngModel)]="correo.email"  #email="ngModel"  class="form-control" placeholder="Correo electrónico" required>
                                        </div>
                                        <div  *ngIf="mensajealerta && enviando==false"  class="alert alert-danger"> {{mensajealerta}}</div>
                                        <div class="row">
                                            <div class="col-6">
                                                <button *ngIf="enviando==false" type="submit"  class="btn btn-primary px-2">Restablecer Contraseña</button>
                                                <button *ngIf="enviando==true" class="btn btn-info px-2" style="width:204px;"><i class="fa fa-spinner fa-spin"></i> Enviando</button>

                                            </div>
                                            <div class="col-6 text-right">
                                                <button type="button" (click)="loguear();" class="btn btn-link px-0">Loguearse</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="enviocorrecto==true" class="alert alert-success">
                                        Se ha enviado un email a <strong>{{correo.email}}</strong>. 
                                        Revisa tu buzón de entrada para los siguientes pasos. Si no has recibido ningún correo, y no está en tu carpeta de spam contacta con el soporte técnico de Appay.
                                    </div>
                                    <div *ngIf="enviocorrecto==true" class="col-6 text-right">
                                            <button type="button" (click)="loguear();" class="btn btn-link px-0">Loguearse</button>
                                    </div>
                            </form>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
