<!-- TABLA FACTURAS TOTALES -->
<div class="row" >
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" ><p>Facturas de usuarios</p></div> 

            <div  class="card-block">
                <div id="buscador" class="form-group row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button  type="button" (click)="buscar()" style="width:132px;" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                            </span>
                            <input type="text" iFid="input1-group2" name="input1-group2" class="form-control" placeholder="Usuario" [(ngModel)]="buscadorUsuarios">
                        </div>                        
                        <div *ngIf="busquedaActiva == true"  class="col-sm-12 filtro">
                            <span class="bold fp">Filtrado por:</span>
                            <span class="filtros">
                                <span class="tag bolds">
                                    <a (click)="eliminarBusqueda();" class="btn btn-sm btn-instagram text">
                                    <span data-value="busqueda" class="closex">x</span>
                                    <span class="item">{{tag}}</span>
                                    </a>
                                </span>
					        </span>
	                    </div>
                    </div>

                   <div class="col-md-6">
                        <pagination class="pagination" id="pagination"
                        [totalItems]="bigTotalItems" 
                        [itemsPerPage]="itemsPorPagina" 
                        [(ngModel)]="bigCurrentPage" 
                        [maxSize]="5" class="pagination-sm"
                        [boundaryLinks]="true"   
                        previousText="&lsaquo;" 
                        nextText="&rsaquo;" 
                        firstText="&laquo;" 
                        lastText="&raquo;" 
                        (pageChanged)="pageChanged($event)">
                        </pagination>
                       <!--  <button style="float:right;" class="btn btn-success" type="button"><i class="fa fa-refresh"></i> Actualizar Lista</button>-->
                    </div>

                    <div  *ngIf="error2==true" style="text-align:center; margin-bottom:0px; width: 100%" class="alert alert-danger">
                        {{mensajeError}}
                    </div> 
                       <table class="table table-hover table-outline mb-0 hidden-sm-down">
                        <thead class="thead-default">
                            <tr>
                                <!--<th class="text-center"><i class="icon-people"></i></th>-->
                                <th class="text-center" style="width: 45px;"><input type="checkbox" name="" value=""></th>
                                <th class="text-center" style="width: 65px;"><i class="icon-people icons font-2xl d-block m-t-2"></i></th>
                                <th class="text-center" style="width: 20%;">Cliente</th>
                                <th class="text-center" style="width: 90px;">Nº Fact</th>
                                <th class="text-center" style="width: 165px;">Fecha</th>
                                <th class="text-center" style="width: 85px;">Hora</th>
                                <th class="text-center" style="width: 15%;">Total</th>
                                <th class="text-center" style="width: 90px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                     
                            <tr *ngFor="let factura of facturas">
                                <td class="text-center">
                                    <input type="checkbox" name="" value="">
                                </td>
                                <td class="text-center" data-toggle="modal" (click)="showChildModal(factura)">
                                    <div class="avatar">
                                        <img src="{{factura.Foto_usuario}}" class="img-avatar" alt="admin@bootstrapmaster.com">
                                        <span *ngIf="factura.Eliminado_usuario==0" class="avatar-status badge-success"></span>
                                        <span *ngIf="factura.Eliminado_usuario==1" class="avatar-status badge-danger"></span>
                                    </div>
                                </td>
                                <td class="text-center" data-toggle="modal" (click)="showChildModal(factura)">
                                    <p class="cliente">{{factura.Nombre_usuario}}</p>
                                </td>
                                <td class="text-center" data-toggle="modal" (click)="showChildModal(factura)">
                                    <p>{{factura.Id_factura}}</p>
                                </td>
                                <td class="text-center" data-toggle="modal" (click)="showChildModal(factura)">
                                    <p>{{factura.Fecha_factura | fecha}}</p>
                                </td>
                                <td class="text-center" data-toggle="modal" (click)="showChildModal(factura)">
                                    <p>{{factura.Fecha_factura | hora}}</p>
                                </td>
                                <td class="text-center" data-toggle="modal" (click)="showChildModal(factura)">
                                    <p class="totalT" style="font-size: 16px;">{{factura.Total_factura}} <i class="fa fa-eur"></i></p>
                                </td>
                                
                                <td class="text-center">
                                    <button class="btn btn-primary" type="button" data-toggle="modal" (click)="showChildModal(factura)"><i class="fa fa-info-circle"></i>&nbsp; Ver</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>                   
                </div> 
         
            </div>


            <div>

                <button type="button" class="btn btn-danger" style=" margin-left: 15px;"><i class="fa fa-trash-o"></i> Eliminar</button>

                <pagination class="pagination" id="pagination"
                    [totalItems]="bigTotalItems" 
                    [itemsPerPage]="itemsPorPagina" 
                    [(ngModel)]="bigCurrentPage" 
                    [maxSize]="5" class="pagination-sm"
                    [boundaryLinks]="true"   
                    previousText="&lsaquo;" 
                    nextText="&rsaquo;" 
                    firstText="&laquo;" 
                    lastText="&raquo;" 
                    (pageChanged)="pageChanged($event)">
                </pagination>
            </div>

        </div>
    </div>
</div>



<!--MODAL DETALLE FACTURA-->
<modal-detalle-facturas></modal-detalle-facturas>