    
a.navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -75px;
}
.app-header .navbar-toggler {
    color: white;
}

#dropdown-item:hover {
       color: deepskyblue; 
}

.nav-item:hover {
 color: deepskyblue;
}

a.dropdown-item:hover {
    background: #20a8d8 !important;
}
header.navbar .nav-item .nav-link > .img-avatar {
    width: 35px !important;
    object-fit: cover;
}

.usuario-navbar:hover {
    cursor: pointer;
    transform: scale(1.01);
}

#pencil{
    display:none;
    right: 43px;
    top: 10px;
}

#asd:hover {
    #pencil {
        display: inline-block;    
    }
} 