    
a.navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -75px;
}
.app-header .navbar-toggler {
    color: white;
}

#dropdown-item:hover {
       color: deepskyblue; 
}

.nav-item:hover {
 color: deepskyblue;
}

a.dropdown-item:hover {
    background: #20a8d8 !important;
}
header.navbar .nav-item .nav-link > .img-avatar {
    width: 35px !important;
    object-fit: cover;
}