<!---MODAL AÑADIR OFERTA-->
<div bsModal #ModalOfertas="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header-producto" id="producto">
                <h4 class="modal-title">Añadir Oferta</h4>
                <button type="button" class="close" (click)="hideChildModal();" aria-label="Close">
                    <span aria-hidden="true"><i class="fa fa-remove fa-lg m-t-2"></i></span>
                </button>
            </div> 

            <div class="modal-body">
            <!--BUSCAR CLIENTES-->
                <div class="animated fadeIn">
                <div class="row">
                <div class="col-md-12">
                <!-- Nav tabs -->
                    <tabset #staticTabs > 

                        <!--BUSCAR CLIENTES-->
                        <tab style="padding-left: 5px; padding-bottom: 5px; padding-right: 5px; padding-top: 5px;">
                            <template tabHeading><i class="fa fa-search"></i> 1º Buscar Clientes</template>
                            <div class="card-block" id="card-block-modal" style="padding-bottom: 0px; padding-right: 15px; padding-left: 15px;">

                                <div class="form-group row">
                                    <div class="col-md-12" style="padding-left: 0px;">     
                                        <form #searchUsersForm="ngForm" (ngSubmit)="onLogin()" style="padding-left: 5px; height: 180px;">
                                            <div class="form-group row">

                                                <div class="col-md-7">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><strong>Usuario</strong></span>
                                                        <input [(ngModel)]="filtro.nombre" class="form-control" id="usuario" name="nombre" type="text">
                                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                                    </div>

                                                    <div class="input-group">
                                                    <span class="input-group-addon"><strong>Edad mínima</strong></span>
                                                        <select [(ngModel)]="edadminima" class="form-control" id="edad" name="edadmin" type="number" size="1">
                                                            <option default [ngValue]="''">Selecione una edad</option>
                                                            <option *ngFor="let edad_minima of edad_min" [ngValue]=edad_minima.id>
                                                                {{edad_minima.id}}
                                                            </option>
                                            
                                                        </select>
                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    </div>

                                                    <div class="input-group">                                                
                                                        <span class="input-group-addon"><strong>Edad máxima</strong></span>
                                                        <select [(ngModel)]="edadmaxima" class="form-control" id="edad" name="edadmax" type="number" size="1">
                                                            <option [ngValue]="''">Selecione una edad</option>
                                                            <option *ngFor="let edad_maxima of edad_max" [ngValue]=edad_maxima.id>
                                                                {{edad_maxima.id}}
                                                            </option>
                                                        </select>
                                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                    </div>
                                                </div>

                                                <div class="col-md-5">
                                                    <div class="input-group">
                                                        <span class="input-group-addon"><strong>Sexo</strong></span>
                                                        <select [(ngModel)]="filtro.sexo" class="form-control" id="sexo" name="sexo">
                                                            <option [ngValue]="''">Selecione un sexo</option>
                                                            <option [ngValue]="'h'">Hombre</option>
                                                            <option [ngValue]="'m'">Mujer</option>
                                                        </select>
                                                        <span class="input-group-addon"><i class="fa fa-venus-mars"></i></span>    
                                                    </div>

                                                    <div class="input-group">
                                                        <span class="input-group-addon"><strong>CP</strong></span>
                                                        <input [(ngModel)]="filtro.cp"class="form-control" id="codigoPostal" name="codigoPostal" type="text">
                                                        <span class="input-group-addon"><i class="fa fa-location-arrow"></i></span>
                                                    </div>

                                                    <div class="form-group form-actions">
                                                        <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i> Buscar</button>
                                                    </div>

                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                    <div class="tablascroll1">
                                   
                                        <table class="table table-hover table-outline mb-0 hidden-sm-down" id="tablaClientes1">
                                            <thead class="thead-default">
                                                <tr>
                                                    <th class="text-center" style="width: 70px;"><input type="checkbox" name="" value="" (change)="selectAllUsers($event);"></th>
                                                    <th class="text-center" style="width: 100px;"><i class="icon-people"></i></th>
                                                    <th class="text-center">Cliente</th>
                                                    <th class="text-center" style="width: 20%;">Email</th>
                                                    <th class="text-center" style="width: 80px;">CP</th>
                                                </tr>
                                            </thead>
                                            
                                            <tbody>
                                                <tr *ngFor="let usuario of usuarios">
                                                                
                                                    <td>
                                                        <!-- (ngModelChange)="selectUser($event,usuario.Id_usuario_tienda);" -->
                                                        <div><input type="checkbox" #checkboxUser (change)="selectUser($event,usuario.Id_usuario_tienda);" name="" value={{usuario.Id_usuario_tienda}}></div>
                            
                                                    </td>
                                                    <td class="text-center">
                                                        <div class="avatar">
                                                            <img src="{{usuario.Foto_usuario}}" class="img-avatar" alt="admin@bootstrapmaster.com" >
                                                            <span *ngIf="usuario.Eliminado_usuario==0" class="avatar-status badge-success"></span>
                                                            <span *ngIf="usuario.Eliminado_usuario==1" class="avatar-status badge-danger"></span>
                                                        </div>
                                                    </td>
                                                    <td class="text-center">
                                                        <strong>{{usuario.Nombre_usuario}}</strong>
                                                    </td>

                                                    <td class="text-center">
                                                        <strong>{{usuario.Email_usuario}}</strong>
                                                    </td>

                                                    <td class="text-center">
                                                        <strong>{{usuario.CP_usuario}}</strong>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" (click)="selectTab(1);" class="btn btn-primary"><i class="fa fa-arrow-right fa-lg m-t-2"></i> Siguiente</button>
                            </div>  
                        </tab>

                        <!--BUSCAR PRODUCTOS-->
                        <tab id="busquedaProducto" style="padding-left: 5px;padding-right: 5px; padding-top: 5px; padding-bottom: 5px;">
                            <template tabHeading><i class="fa fa-search"></i> 2º Buscar Producto</template>
                            <div class="card-block" id="card-block-modal" style="padding-bottom: 0px; padding-right: 15px; padding-left: 15px;">
                                <div id="buscador" class="form-group row">
                                    <div class="col-md-6" style="padding-top: 15px;">
                                        <div class="input-group">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                                            </span>
                                            <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Cod/Nombre" [(ngModel)]="buscadorProductos">
                                        </div>
                                    </div>
                                    <div class="tablascroll">
                                        <table class="table table-hover table-outline mb-0 hidden-sm-down" id="tablaProductos1">
                                            <thead class="thead-default">
                                                    <tr>
                                                        
                                                        <th class="text-center" style="width: 40px;"><input type="checkbox" name="" value=""></th>
                                                        <th class="text-center" style="width: 65px;"><i class="icon-picture icons font-2xl d-block m-t-2"></i></th>
                                                        <th class="text-center" style="width: 60px;">Código</th>
                                                        <th class="text-center" style="width: 20%;">Nombre</th>
                                                        <th class="text-center" style="width: 25%;">Descripción</th>
                                                        <th class="text-center" style="width: 170px;">Precio</th>
                                                        <!--
                                                        <th class="oferta" style = "text-align: center; width: 90px;">Oferta</th>
                                                        <th class="finicio" style = "text-align: center;">F. Inicio</th>
                                                        <th class="ffinal" style = "text-align: center;">F. Final</th>
                                                        <th class="oferta" for="orden" style = "text-align: center; width: 110px;">Orden</th>
                                                        -->
                                                        <th class="text-center" style="width: 90px;"></th>
                                                    </tr>
                                                </thead>
                                                
                                                <tbody>
                                                    <tr *ngFor="let producto of productos">
                                                        <td>
                                                            <!-- (ngModelChange)="selectUser($event,usuario.Id_usuario_tienda);" -->
                                                            <div><input type="checkbox" (change)="selectProducto($event,producto.Id_producto);" name="" value=""></div>
                                
                                                        </td>
                                                        <td class="text-center" data-toggle="modal" (click)="showChildModal(producto)">
                                                            <div class="avatar">
                                                                <img src="{{producto.Imagen_producto}}" class="img-avatar">
                                                                <span *ngIf="" class="avatar-status badge-success"></span>
                                                            </div>
                                                        </td>     
                                                        <td class="text-center" data-toggle="modal" (click)="showChildModal(producto)">
                                                                <strong>{{producto.Codigo_producto}}</strong>
                                                        </td>
                                                        <td class="text-center" data-toggle="modal" (click)="showChildModal(producto)">
                                                            <strong>{{producto.Nombre_producto}}</strong>
                                                        </td>
                                                        <td class="text-center" data-toggle="modal" (click)="showChildModal(producto)">
                                                            <strong>Pequeña Descripcion Producto....</strong>
                                                        </td>
                                                        <td class="text-center" data-toggle="modal" (click)="showChildModal(producto)">
                                                            <strong>{{producto.Precio_producto}} </strong><i class="fa fa-eur"></i>
                                                        </td>
                                                        <td class="text-center">
                                                            <button class="btn btn-primary" type="button" data-toggle="modal" (click)="showChildModal(producto)"><i class="fa fa-info-circle"></i>&nbsp; Ver</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" (click)="selectTab(0);" class="btn btn-secondary"><i class="fa fa-arrow-left fa-lg m-t-2"></i> Atras</button>
                                    <button type="button" (click)="selectTab(2);" class="btn btn-primary"><i class="fa fa-arrow-right fa-lg m-t-2"></i> Siguiente</button>
                                </div>                         
                        </tab>

                        <!--DETALLES DE OFERTA-->
                        <tab id="detalleOferta" style="padding-left: 5px; padding-bottom: 5px; padding-right: 5px; padding-top: 5px;">
                            <template tabHeading><i class="icon-present"></i> 3º Detalles de Oferta</template>
                            <div class="card-block" id="card-block-modal" style="padding-bottom: 0px; padding-right: 15px; padding-left: 15px;">
                                <div class="form-group row">
                                    <div class="col-md-7">
                                        <form #addOfertaForm="ngForm">

                                            <div class="form-group row">
                                                <label class="col-md-3 form-control-label" for="disabled-input"><strong>Orden de Visualización</strong></label>
                                                <div class="col-md-2">
                                                    <select [(ngModel)]="oferta.Orden" name="orden" class="form-control" id="ccmonth" style="padding:0px;">
                                                        <option [ngValue]=1>1</option>
                                                        <option [ngValue]=2>2</option>
                                                        <option [ngValue]=3>3</option>
                                                        <option [ngValue]=4>4</option>
                                                        <option [ngValue]=5>5</option>
                                                    </select>
                                                </div>
                                            
                                                <label class="col-md-2 form-control-label" for="disabled-input"><strong>Oferta</strong></label>
                                                <div class="col-md-2">
                                                    <input type="text" [(ngModel)]="oferta.Precio" name="precio" class="form-control" style="text-align: center; padding-left: 5px; padding-right: 5px;" placeholder="%">
                                                </div>
                                            </div> 

                                            <div class="form-group row">
                                                <label class="col-md-3 form-control-label" for="disabled-input"><strong>Fecha Inicio</strong></label>
                                                <div class="col-md-6">
                                                    <!--<ng2-datepicker class="form-control"  [(ngModel)]="oferta.Fecha_inicio" name="finicio" [options]="options" ></ng2-datepicker>-->
                                                    <input type="date" class="form-control" [(ngModel)]="oferta.Fecha_inicio" name="fechaini">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 form-control-label" for="disabled-input"><strong>Fecha Final</strong></label>
                                                <div class="col-md-6">
                                                    <input type="date" class="form-control" [(ngModel)]="oferta.Fecha_final" name="fechafinal">
                                                    <!--<ng2-datepicker class="form-control" [(ngModel)]="oferta.Fecha_final" name="ffinal" [options]="options" ></ng2-datepicker> -->
                                                    
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 form-control-label" for="textarea-input"><strong>Descripción Oferta</strong></label>
                                                <div class="col-md-6">
                                                    <textarea id="textarea-input" [(ngModel)]="oferta.Descripcion "name="descripcion" rows="9" class="form-control"></textarea>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="col-md-5">
                                    <p style="text-align: center; font-size: 16px;"><strong>Banner Oferta 320x180</strong></p>
                                    <div class="imagenBanner">
                                    <img class="imgBanner" id="imagenSrc"  src="{{imageSrc}}" />
                                    <input #image type="file" id="filebutton" accept="image/*" value="upload" (change)="handleInputChange($event)" >
                                    <button  *ngIf="imageloaded==true"  (click)="cancelImageLoad()"  type="button" class="btn btn-danger" style="margin-top: 10px;">Cancelar</button> 
                                    </div>
                                        <p style="color:#b0bec5;; font-size: 13px; text-align: center; padding-top: 50px;">*Arrastra sobre la imagen o pulsa sobre ella para cambiarla.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" (click)="selectTab(1);" class="btn btn-secondary"><i class="fa fa-arrow-left fa-lg m-t-2"></i> Atras</button>
                                <button type="button" (click)="addOferta();"class="btn btn-primary"><i class="fa fa-save"></i> Añadir</button>
                            </div>      
                        </tab>

                    </tabset>
                </div>
                </div>
                </div>
            
        </div> <!--Fin modal-body-->

        

        </div>
    </div>
</div>