<div class="row" >
  <div class="col-md-12">
    <div class="card">

      <div class="card-header" ><p>Ofertas Personalizadas</p>
        <ul class="pagination" id="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
        <button id="anyadir" class="btn btn-primary" type="button" data-toggle="modal" (click)="anyadirModal.show()"><i class="fa fa-plus"></i> Añadir Oferta</button>
      </div>

      <div class="card-block">
        <div id="buscador" class="form-group row">

          <div class="col-md-12">
            <div class="input-group">
              <span class="input-group-btn">
                <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
              </span>
              <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Cod/Nombre" [(ngModel)]="buscadorOfertas">
            </div>
          </div>
            <!-- Aqui va el listado de ofertas-->

            <table class="table table-hover table-outline mb-0 hidden-sm-down">
                        <thead class="thead-default">
                            <tr>
                                <th class="text-center" style="width: 75px;"><input type="checkbox" name="" value=""></th>
                                <th class="text-center" style="width: 150px;"><i class="fa fa-picture-o"></i> Imagen</th>
                                <th class="text-center" style="width: 134px;"><i class="fa fa-barcode"></i> Código</th>
                                <th class="text-center" style="width: 20%;"> Nombre</th>
                                <th class="text-center"><i class="fa fa-eur"></i> Precio</th>
                                <th class="oferta" style = "text-align: center; width: 134px;"><i class="fa fa-percent"></i> Oferta</th>
                                <th class="finicio" style = "text-align: center; width: 144px;"><i class="fa fa-calendar-minus-o"></i> F. Inicio</th>
                                <th class="ffinal" style = "text-align: center; width: 144px;"><i class="fa fa-calendar-plus-o"></i> F. Final</th>
                                <th class="text-center" style="width: 100px;"></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr class="" >
                                <td class="text-center">
                                    <input type="checkbox" name="" value="">
                                </td>  
                                <td class="text-center">
                                    <div class="avatar">
                                    </div>
                                </td>     
                                <td class="text-center">
                                        <strong>27001</strong>
                                </td>
                                <td class="text-center">
                                    <strong>Coca Cola Zero </strong>
                                </td>
                                <td class="text-center">
                                    <strong>0,39€</strong>
                                </td>
                                <td class="text-center">
                                   <p class="form-control-static"><strong>25</strong>%</p>
                                </td>
                                <td class="text-center">
                                     <p class="form-control-static"><strong>17/02/2017</strong></p>
                                </td>
                                <td class="text-center">
                                    <p class="form-control-static"><strong>17/03/2017</strong></p>
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-primary" type="button" data-toggle="modal" (click)="clientesOfertadosModal.show()"><i class="fa fa-info-circle"></i> Ver</button>
                                </td>
                            </tr>
                        </tbody>

                </table>

        </div>
      </div>
      
  

    </div>
        <button type="button" class="btn btn-danger"><i class="fa fa-trash-o"></i> Eliminar</button>

        <ul class="pagination" id="pagination" >
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    
  </div>
</div>


<!---MODAL AÑADIR OFERTA-->
<div bsModal #anyadirModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header-producto" id="producto">
                <h4 class="modal-title">Añadir Oferta</h4>
                <button type="button" class="close" (click)="anyadirModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <!--Zona de Arriba-->
                <div class="card">
                    <div class="card-block">
                    <p class="bClientes">Buscar Clientes</p>
                    <div class="filtrosOferta">
                        <div class="buscadorClientes">     
                            <form action="" method="post">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><strong>Usuario</strong></span>
                                        <input class="form-control" id="usuario" name="username3" type="text">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><strong>Edad</strong></span>
                                        <select class="form-control" id="edad" name="edad" type="number" size="1">
                                            <option value="0">Seleciona una Edad</option>
                                            <option value="1">18</option>
                                            <option value="2">19</option>
                                            <option value="3">20</option>
                                        </select>
                                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><strong>CP</strong></span>
                                        <input class="form-control" id="codigoPostal" name="codigoPostal" type="text">
                                        <span class="input-group-addon"><i class="fa fa-location-arrow"></i></span>
                                    </div>
                                </div>
                                <div class="form-group form-actions">
                                    <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i> Buscar</button>
                                </div>
                            </form>
                      </div>
                    </div>

        
                      <div class="resultadoUsuarios">
                        <table class="table table-hover table-outline mb-0 hidden-sm-down" id="tablaClientes1">
                              <thead class="thead-default">
                                  <tr>
                                      <th class="text-center" style="width: 110px;"><input type="checkbox" name="" value=""></th>
                                      <th class="text-center"><i class="icon-people"></i></th>
                                      <th>Cliente</th>
                                      <th class="text-center" style="width: 80px;">CP</th>
                                      <th class="text-center" style="width: 340px;">Correo electrónico</th>
                                  </tr>
                              </thead>
                              <!--
                              <tbody>
                                
                                  <tr *ngFor="let usuarios of usuarios | search: 'Nombre': 'Email':  buscadorUsuarios">
                                      <td class="text-center">
                                          <input type="checkbox" name="" value="">
                                      </td>



                                      <td class="text-center">
                                          <div class="avatar">
                                              <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" src="assets/img/avatars/1.jpg">
                                              <span *ngIf="usuarios.Eliminado==0" class="avatar-status badge-success"></span>
                                              <span *ngIf="usuarios.Eliminado==1" class="avatar-status badge-danger"></span>
                                          </div>
                                      </td>
                                      <td>
                                          <div>{{usuarios.Nombre}}</div>
                                          <div class="small text-muted">
                                              Registro: {{usuarios.Fecha}} 
                                          </div>
                                      </td>
                                      <td class="text-center">
                                          <strong>{{usuarios.CP}}</strong>
                                      </td>
                                      <td>
                                          <strong>{{usuarios.Email}}</strong>
                                      </td>
                                  </tr>
                              </tbody>
                              -->
                          </table>
                      </div>
                    </div>
                </div>

            <!--Zona de Abajo-->
            <div class="card">
                <div class="card-block">
                <p class="bClientes">Buscar Producto</p>
                <div class="card-block">  
                    <div id="buscador" class="form-group row">
                        <div class="col-md-12">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                                </span>
                                <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Cod/Nombre" [(ngModel)]="buscadorProductos">
                            </div>
                        </div>
          
                            <table class="table table-hover table-outline mb-0 hidden-sm-down" id="tablaProductos1">
                                <thead class="thead-default">
                                    <tr>
                                        <th class="text-center" style="width: 100px;"><i class="fa fa-picture-o"></i> Imagen</th>
                                        <th class="text-center" style="width: 134px;"><i class="fa fa-barcode"></i> Código</th>
                                        <th class="text-center" style="width: 30%;"> Nombre</th>
                                        <th class="text-center" style="width: 200px;"><i class="fa fa-money"></i> Precio</th>
                                        <th class="oferta" style = "text-align: center; width: 134px;"><i class="fa fa-percent"></i> Oferta</th>
                                        <th class="finicio" style = "text-align: center; width: 144px;"><i class="fa fa-calendar-minus-o"></i> F. Inicio</th>
                                        <th class="ffinal" style = "text-align: center; width: 144px;"><i class="fa fa-calendar-plus-o"></i> F. Final</th>
                                    </tr>
                                </thead>
                            
                                <tbody>
                                    <tr class="" >
                                        <td class="text-center">
                                            <div class="avatar">
                                            </div>
                                        </td>     
                                        <td class="text-center">
                                                <strong>27001</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>Coca Cola Zero </strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>0,39€</strong>
                                        </td>
                                        <td class="text-center">
                                            <input type="text" class="form-control" style = "text-align: center" placeholder="% Descuento">
                                        </td>
                                        <td class="text-center">
                                            <input type="text" class="form-control" style="text-align: center" placeholder="dd/mm/aaaa"><!--<i class="fa fa-calendar fa-lg mt-2"></i>-->
                                        </td>
                                        <td class="text-center">
                                            <input type="text" class="form-control" style="text-align: center" placeholder="dd/mm/aaaa"><!--<i class="fa fa-calendar fa-lg mt-2"></i>-->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div> <!--Fin modal-body-->

        <div class="modal-footer">
            <button type="button" class="btn btn-primary"><i class="fa fa-save"></i> Añadir</button>
        </div>

        </div>
    </div>
</div>
<!----------------------------------------->

<!---MODAL CLIENTES CON ESA OFERTA-->
<div bsModal #clientesOfertadosModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header-producto" id="producto">
                <h4 class="modal-title">Clientes Ofertados</h4>
                <button type="button" class="close" (click)="clientesOfertadosModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="card">
                 <div class="card-block">
                        <table class="table table-hover table-outline mb-0 hidden-sm-down" id="tablaClientes1">
                              <thead class="thead-default">
                                  <tr>
                                      <th class="text-center" style="width: 110px;"><input type="checkbox" name="" value=""></th>
                                      <th class="text-center"><i class="icon-people"></i></th>
                                      <th>Cliente</th>
                                      <th class="text-center" style="width: 80px;">CP</th>
                                      <th class="text-center" style="width: 340px;">Correo electrónico</th>
                                  </tr>
                              </thead>
                              <!--
                              <tbody>
                                
                                  <tr *ngFor="let usuarios of usuarios | search: 'Nombre': 'Email':  buscadorUsuarios">
                                      <td class="text-center">
                                          <input type="checkbox" name="" value="">
                                      </td>



                                      <td class="text-center">
                                          <div class="avatar">
                                              <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" src="assets/img/avatars/1.jpg">
                                              <span *ngIf="usuarios.Eliminado==0" class="avatar-status badge-success"></span>
                                              <span *ngIf="usuarios.Eliminado==1" class="avatar-status badge-danger"></span>
                                          </div>
                                      </td>
                                      <td>
                                          <div>{{usuarios.Nombre}}</div>
                                          <div class="small text-muted">
                                              Registro: {{usuarios.Fecha}} 
                                          </div>
                                      </td>
                                      <td class="text-center">
                                          <strong>{{usuarios.CP}}</strong>
                                      </td>
                                      <td>
                                          <strong>{{usuarios.Email}}</strong>
                                      </td>
                                  </tr>
                              </tbody>
                              -->
                        </table>
                    </div>
                </div>
                    <button type="button" class="btn btn-danger"><i class="fa fa-trash-o"></i> Eliminar</button>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>