
#anyadir {
    margin-left: 15px;
    margin-bottom: 10px;
    float: right;
}

////////////////////////////FACTURA///////////////////////

.modal-lg {
    max-width: 1200px;
    width: 65%;
}
.tablascroll {
    overflow: auto;
    height: 360px;
}
.tablascroll1 {
    overflow: auto;
    height: 260px;
}
p.bClientes {
    font-size: 20px;
    color: #124570;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #b7d9f3;
}

#card-block-modal {
    padding-top: 0;
}

label.radio-inline {
    padding-top: 5px;
    padding-left: 21px;
    padding-right: 7px;
}

td.text-center {
    color:black;
} 

form.ng-untouched.ng-pristine.ng-valid {
    padding: 10px;
}

.modal-header-producto {
    color: #fff;
    background-color: #20a8d8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #cfd8dc;
}

/////////////////////////////////////////////////////////////////////


input[type="file"] {
    opacity: 0;
    position: absolute;
    top: 20px;
    top: 45px;
    height: 210px;
    width: 90%;
}
.imagenBanner {
    border: 2px dashed #124570;
    height: 210px;

}
img.imgBanner {
    width: 100%;
    height:100%;
    object-fit: cover;
    /*object-fit: contain;*/
    /*der-radius: 200px;*/
}
///////////////////////////////////////////////////////////////
 p {
     font-weight: 500;
 }
 
 p.nombre {
    width: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
}

img.img-avatar.oferta {
    width: auto;
    border-radius: 0em;
}

/////FILTRO/////////////////
.fp {
    font-size: 14px;
}
.bold {
    font-weight: 700;
}
.col-sm-12.filtro {
    padding-bottom: 15px;
}
a.btn.btn-sm.btn-instagram.text:hover {
    cursor: pointer !important;
}
