<div class="row" >
    <div class="col-md-12">
        <div class="card">

        <div class="card-header" style="padding-bottom: 0px;" ><p>Ofertas Personalizadas</p>
            <button id="anyadir" class="btn btn-primary" type="button" data-toggle="modal" (click)="showChildModal()"><i class="fa fa-plus"></i> Añadir Oferta</button>
        </div>

            <div class="card-block">

                <div id="buscador" class="form-group row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button *ngIf="buscando==false" type="button" (click)="buscar()" style="width:132px;" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                                <button *ngIf="buscando==true" class="btn btn-info px-2" style="width:132px;"><i class="fa fa-spinner fa-spin"></i> Buscando</button>
                            </span>
                            <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Cod/Nombre" [(ngModel)]="buscadorOfertas">
                        </div>
                        <div *ngIf="busquedaActiva == true"  class="col-sm-12 filtro">
                            <span class="bold fp">Filtrado por:</span>
                            <span class="filtros">
                                <span class="tag bolds">
                                    <a (click)="eliminarBusqueda();" class="btn btn-sm btn-instagram text">
                                    <span data-value="busqueda" class="closex">x</span>
                                    <span class="item">{{tag}}</span>
                                    </a>
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <ul class="pagination" id="pagination" >
                            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </div>
                    <div  *ngIf="error2==true" style="text-align:center; margin-bottom:0px; width: 100%" class="alert alert-danger">
                        {{mensajeError}}
                    </div> 
                    <!-- Aqui va el listado de ofertas-->
                    <table class="table table-hover table-outline mb-0 hidden-sm-down">
                        <thead class="thead-default">
                            <tr>
                                <th class="text-center" style="width: 75px;"><input type="checkbox" name="" value=""></th>
                                <th class="text-center" style="width: 130px;">Imagen</th>
                                <th class="text-center" style="width: 135px;">Código</th>
                                <th class="text-center" style="width: 20%;">Nombre</th>
                                <th class="text-center" style="width: 150px;">Precio</th>
                                <th class="oferta" style = "text-align: center; width: 100px;">Oferta</th>
                                <th class="finicio" style = "text-align: center; width: 110px;">F. Inicio</th>
                                <th class="ffinal" style = "text-align: center; width: 110px;">F. Final</th>
                                <th class="text-center" style="width: 100px;"></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr class="" >
                                <td class="text-center">
                                    <input type="checkbox" name="" value="">
                                </td>  
                                <td class="text-center">
                                    <div class="avatar">
                                    </div>
                                </td>     
                                <td class="text-center">
                                    <strong>27001</strong>
                                </td>
                                <td class="text-center">
                                    <strong>Coca Cola Zero </strong>
                                </td>
                                <td class="text-center">
                                    <strong>0,39 </strong><i class="fa fa-eur"></i>
                                </td>
                                <td class="text-center">
                                    <p class="form-control-static"><strong>25 </strong><i class="fa fa-percent"></i></p>
                                </td>
                                <td class="text-center">
                                        <p class="form-control-static"><strong>17/02/2017</strong></p>
                                </td>
                                <td class="text-center">
                                    <p class="form-control-static"><strong>17/03/2017</strong></p>
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-primary" type="button" data-toggle="modal" (click)="showChildModalClientesOfertados();"><i class="fa fa-info-circle"></i> Ver</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div  *ngIf="msgActivo && errorActivo==true && loadingActivo==false" style="text-align:center; margin-bottom:0px; width: 100%" class="alert alert-danger">  {{msgActivo}} </div>
                <div  *ngIf="msgActivo && errorActivo==false && loadingActivo==false" style="text-align:center; margin-bottom:0px; width: 100%" class="alert alert-success">  {{msgActivo}} </div>
            </div>
            <div>
                <button type="button" class="btn btn-danger"><i class="fa fa-trash-o"></i> Eliminar</button>

                <ul class="pagination" id="pagination" >
                    <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>


<!--MODAL AÑADIR OFERTA-->
<modal-oferta ></modal-oferta>

<!-- MODAL DETALLE OFERTA -->
<modal-detalle-oferta></modal-detalle-oferta>