<div class="row" >
    <div class="col-md-12">
        <div class="card">
        <div class="card-header" ><p>Sincronizar</p></div>
            <div class="card-block">
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class=col-md-8 style="margin-left: 19%;">                  
                            <p style="text-align: center;">
                            Las sincronizaciones se realizan automaticamente todos los dias a las 0:00, si pasada esa hora se introduce un nuevo Producto en el sistema, no aparecera reflejado hasta las 0:00 del día siguiente. Si usted necesita ese Producto en el mismo día que se dio de alta, por favor pulse sobre el boton Sincronizar.
                            </p>
                        </div>
                    </div>  
                </div>
                <div class="form-group row">
                    <div class="col-md-12">         
                        <div class=col-md-6 id="tablaSincro">
                            <table class="table table-hover table-outline mb-0 hidden-sm-down">
                                <thead class="thead-default">
                                    <tr>
                                        <th class="text-center">Fecha</th>
                                        <th class="text-center">Hora</th>
                                        <th class="text-center">Productos</th>
                                        <th class="text-center">Clientes</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr class="" >  
                                        <td class="text-center">
                                            <strong>06/04/2017</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>0:00</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>1.099.000</strong>
                                        </td>
                                        <td class="text-center">
                                            <p class="form-control-static"><strong>25.000.000 </strong></p>
                                        </td>
                                    </tr>

                                    <tr class="" >  
                                        <td class="text-center">
                                            <strong>06/04/2017</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>0:00</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>1.099.000</strong>
                                        </td>
                                        <td class="text-center">
                                            <p class="form-control-static"><strong>25.000.000 </strong></p>
                                        </td>
                                    </tr>

                                    <tr class="" >  
                                        <td class="text-center">
                                            <strong>06/04/2017</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>0:00</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>1.099.000</strong>
                                        </td>
                                        <td class="text-center">
                                            <p class="form-control-static"><strong>25.000.000 </strong></p>
                                        </td>
                                    </tr>

                                    <tr class="" >  
                                        <td class="text-center">
                                            <strong>06/04/2017</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>0:00</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>1.099.000</strong>
                                        </td>
                                        <td class="text-center">
                                            <p class="form-control-static"><strong>25.000.000 </strong></p>
                                        </td>
                                    </tr>

                                    <tr class="" >  
                                        <td class="text-center">
                                            <strong>06/04/2017</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>0:00</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>1.099.000</strong>
                                        </td>
                                        <td class="text-center">
                                            <p class="form-control-static"><strong>25.000.000 </strong></p>
                                        </td>
                                    </tr>

                                    <tr class="" >  
                                        <td class="text-center">
                                            <strong>06/04/2017</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>0:00</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>1.099.000</strong>
                                        </td>
                                        <td class="text-center">
                                            <p class="form-control-static"><strong>25.000.000 </strong></p>
                                        </td>
                                    </tr>

                                    <tr class="" >  
                                        <td class="text-center">
                                            <strong>06/04/2017</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>0:00</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>1.099.000</strong>
                                        </td>
                                        <td class="text-center">
                                            <p class="form-control-static"><strong>25.000.000 </strong></p>
                                        </td>
                                    </tr>

                                    <tr class="" >  
                                        <td class="text-center">
                                            <strong>06/04/2017</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>0:00</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>1.099.000</strong>
                                        </td>
                                        <td class="text-center">
                                            <p class="form-control-static"><strong>25.000.000 </strong></p>
                                        </td>
                                    </tr>

                                    <tr class="" >  
                                        <td class="text-center">
                                            <strong>06/04/2017</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>0:00</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>1.099.000</strong>
                                        </td>
                                        <td class="text-center">
                                            <p class="form-control-static"><strong>25.000.000 </strong></p>
                                        </td>
                                    </tr>

                                    <tr class="" >  
                                        <td class="text-center">
                                            <strong>06/04/2017</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>0:00</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>1.099.000</strong>
                                        </td>
                                        <td class="text-center">
                                            <p class="form-control-static"><strong>25.000.000 </strong></p>
                                        </td>
                                    </tr>

                                    <tr class="" >  
                                        <td class="text-center">
                                            <strong>06/04/2017</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>0:00</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>1.099.000</strong>
                                        </td>
                                        <td class="text-center">
                                            <p class="form-control-static"><strong>25.000.000 </strong></p>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        
                        <template #popTemplate>
                            <p style="text-align: center;">Esta operación puede tardar unos minutos, durante ese tiempo el sistema no podra ser utilizado.</p> 
                            <div class="form-group row">
                                <div style="margin-left: 25px; margin-top: 10px;">
                                    <span class="btn btn-success">Confirmar</span>
                                </div>
                                <div style="margin-left: 25px; margin-top: 10px;">
                                    <span class="btn btn-danger">Cancelar</span>
                                </div>
                            </div>
                        </template>
                        <button type="button" class="btn btn-primary"[popover]="popTemplate" popoverTitle="!!Ojo!!"><i class="fa fa-refresh fa-lg m-t-2"></i> Sincronizar</button>
                    
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>