<div bsModal #productoDetalleModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header-producto" id="producto">
                <h4 class="modal-title">{{producto.Nombre_producto}}</h4>
                <button type="button" class="close" (click)="hideChildModal()" aria-label="Close">
                    <span aria-hidden="true"><i class="fa fa-remove fa-lg m-t-2"></i></span>
                </button>
            </div>

            <div class="modal-body">

                <div class="animated fadeIn">
                <div class="row">
                <div class="col-md-12">
                    
                    <!-- Nav tabs -->
                    <tabset #staticTabs>
                        <tab (select)="selectTab(1);"  style="height: 580px;">
                          <template tabHeading> <i class="icon-list"></i> Info. Producto </template>
                            
                            <div class="form-group row">
                                <div class="col-md-5">
                                    <div style="width: 200px; height:200px;">
                                        <div class="imgP" style="width: 190px; height:190px;">
                                            <img class="img-avatar"  #imageProducto src="{{producto.Imagen_producto}}" alt="Ninguna Imagen Seleccionada">
                                        </div>
                                         <!-- Imagenes de la API -->
                                         <div class="botonImgP" > 
                                            <button  *ngIf="imageSelected==true"  (click)="cancelSelectImage();"  type="button" class="btn btn-danger">Cancelar</button>
                                        </div>
                                    </div>
                                    <div class="galeriaImagenes">
                                        <div *ngFor="let image of imagesProducto" id="pene">
                                            <div class="col-xs-3" id="imglibreria" style="width: 75px; height:75px;">
                                                <img #imageAPI src="{{image.webformatURL}}" (click)="selectImageAPI($event);" style="width:100%;height:100%; object-fit: scale-down;" alt="admin@bootstrapmaster.com">
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>

                                <div class="col-md-7">
                                    <form #productosComponentForm="ngForm">
                                            <div class="form-group row">
                                                <label class="col-md-3 form-control-label" for="disabled-input"><strong>Código</strong></label>
                                                <div class="col-md-9">
                                                    <input type="text" id="disabled-input" name="codigo" [(ngModel)]="producto.Codigo_producto"  class="form-control"  disabled>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 form-control-label" for="disabled-input"><strong>Nombre</strong></label>
                                                <div class="col-md-9">
                                                    <input type="text" id="disabled-input" name="nombre" class="form-control" [(ngModel)]="producto.Nombre_producto"   disabled>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 form-control-label" for="disabled-input"><strong>Precio</strong></label>
                                                <div class="col-md-9">
                                                    <input type="text" id="disabled-input" name="precio" class="form-control" [(ngModel)]="producto.Precio_producto" disabled>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 form-control-label" for="textarea-input"><strong>Descripción</strong></label>
                                                <div class="col-md-9">
                                                    <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control"[(ngModel)]="producto.Descripcion_producto" ></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 form-control-label" for="text-input"><strong>Video </strong><i class="fa fa-youtube-square icons font-2xl"></i></label>
                                                <div class="col-md-9">
                                                    <div class="input-group">
                                                        <input type="text" id="text-input" name="text-input" class="form-control" [(ngModel)]="producto.URL_video_producto">
                                                        <span class="input-group-btn">
                                                            <button type="button" (click)="showYoutubeModal();" class="btn btn-primary">Buscar <i class="fa fa-search"></i></button> 
                                                        </span>
                                                    </div>

                                                    <div *ngIf="videobueno==true">
                                                        <iframe [src]="producto.URL_video_producto  | safe" style="width:100%"></iframe>
                                                    </div>

                                                </div>
                                            </div>
                                    </form>
                                </div>
                            </div>
                        </tab>

                        <tab (select)="selectTab(2);">
                            <template tabHeading><i class="icon-present"></i> Oferta Producto</template>
                            <div class="form-group row">
                                <div class="col-md-6" >
                                    <form #productosComponentForm="ngForm"> 

                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label"   for="disabled-input"><strong>Orden de Visualización</strong></label>
                                            <div class="col-md-3">
                                                <select [(ngModel)]="oferta.Orden" class="form-control" name="orden" id="ccmonth">
                                                    <option [ngValue]=1>1</option>
                                                    <option [ngValue]=2>2</option>
                                                    <option [ngValue]=3>3</option>
                                                    <option [ngValue]=4>4</option>
                                                    <option [ngValue]=5>5</option>
                                                </select>
                                            </div>
                                       
                                            <label class="col-md-2 form-control-label" for="disabled-input"><strong>Oferta</strong></label>
                                            <div class="col-md-3">
                                               <input type="text" class="form-control" name="poferta" [(ngModel)]="oferta.P_oferta_oferta_producto"  style = "text-align: center" placeholder="%">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="disabled-input"><strong>F. Inicio</strong></label>
                                            <div class="col-md-6">
                                                 <input type="date" class="form-control" [(ngModel)]="oferta.Fecha_inicio_oferta_producto" name="fechaini">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="disabled-input"><strong>F. Final</strong></label>
                                            <div class="col-md-6">
                                                <input type="date" class="form-control" [(ngModel)]="oferta.Fecha_fin_oferta_producto" name="fechafin">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="textarea-input"><strong>Descripción</strong></label>
                                            <div class="col-md-8">
                                                <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control"  [(ngModel)]="oferta.Descripcion_oferta_producto" ></textarea>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="col-md-6">
                                    <p style="text-align: center; font-size: 16px;"><strong>Banner Oferta 210x350</strong></p>
                                    <div class="imagenBanner">
                                    <img class="imgBanner" id="imagenSrc"  src="{{imageSrc}}" />
                                    <input #image type="file" id="filebutton" accept="image/*" value="upload" (change)="handleInputChange($event)" >
                                    </div>
                                    <p style="color:#b0bec5;; font-size: 13px; text-align: center; padding-top: 10px;">*Arrastra sobre la imagen o pulsa sobre ella para cambiar la.</p>
                                    <button  *ngIf="imageloaded==true"  (click)="cancelImageLoad()"  type="button" class="btn btn-danger">Cancelar</button> 
                                   <!-- <button type="button" class="btn btn-danger" style="float:right;"><i class="fa fa-trash-o"></i> Eliminar</button> -->
                                </div>

                            </div>
                        </tab>
                        <!--
                        <tab (select)="selectTab(3);">
                            <template tabHeading><i class="icon-present"></i> Registro ofertas </template>
                        </tab> -->

                        <tab style="text-align:center" (select)="selectTab(4);">
                             <template tabHeading><i class="fa fa-cube fa-lg m-t-2"></i> Motor WebGL </template>
                           <!-- <iframe style="border: none;" src="https://drmultimedio.github.io/MOTOR/index.html" width="100%" height="800px"> </iframe>-->
                        </tab>

                    </tabset>
                </div>
                </div>
                </div>
      
            </div>

            <div class="modal-footer">

                <div  *ngIf="msgAlert && errorUpdateProducto==true && loadingUpdateProducto==false && tabselected==1" style="text-align:center; margin-bottom:0px; width: 100%" class="alert alert-danger">  {{msgAlert}} </div>
                <div  *ngIf="msgAlert && errorUpdateProducto==false && loadingUpdateProducto==false && tabselected==1" style="text-align:center; margin-bottom:0px; width: 100%" class="alert alert-success">  {{msgAlert}} </div>
                <button type="button" *ngIf="tabselected==1 && loadingUpdateProducto==false" (click)="updateProducto();" class="btn btn-primary"><i class="fa fa-save"></i> Actualizar producto</button>
                <button type="button" *ngIf="tabselected==1 && loadingUpdateProducto==true"  class="btn btn-primary"><i class="fa fa-spinner fa-spin"></i> Actualizando producto</button>
                <button type="button" *ngIf="tabselected==2 && ofertaActiva==false"(click)="saveData();" class="btn btn-primary"><i class="fa fa-save"></i> Crear oferta</button>
                
                <div  *ngIf="msgAlertOferta && errorUpdateOferta==true && loadingUpdateOferta==false && tabselected==2" style="text-align:center; margin-bottom:0px; width: 100%" class="alert alert-danger">  {{msgAlertOferta}} </div>
                <div  *ngIf="msgAlertOferta && errorUpdateOferta==false && loadingUpdateOferta==false && tabselected==2" style="text-align:center; margin-bottom:0px; width: 100%" class="alert alert-success">  {{msgAlertOferta}} </div>
                <button  type="button" *ngIf="tabselected==2 && ofertaActiva==true" [popover]="popTemplate" popoverTitle="Confirmar acción" class="btn btn-danger"><i class="fa fa-save"></i> Eliminar oferta</button>
                <button type="button" *ngIf="tabselected==2 && ofertaActiva==true && !loadingUpdateOferta"(click)="updateOferta(0);" class="btn btn-success"><i class="fa fa-save"></i> Actualizar oferta</button>
                <button type="button" *ngIf="tabselected==2 && loadingUpdateOferta==true"  class="btn btn-success"><i class="fa fa-spinner fa-spin"></i> Actualizando oferta</button>  

                 
                <template #popTemplate>
                    <p style="text-align: center;">¿Estás seguro de que deseas eliminar la oferta actual? La oferta quedará almacenada en el registro de ofertas.</p> 
                    <div class="form-group row">
                        <div style="margin-left: 25px; margin-top: 10px;">
                            <button  class="btn btn-danger" >Cancelar</button>
                        </div>
                        <div style="margin-left: 25px; margin-top: 10px;">
                            <button class="btn btn-success" (click)="updateOferta(1);">Confirmar</button>
                        </div>
                    </div>
                </template>
            </div>
             

        </div>
    </div>
</div>
 
<!--MODAL DE YOUTUBE-->
<youtube-modal  (change)="videoChange($event)" ></youtube-modal>