<!-- TABLA PRODUCTOS TOTALES -->
<div class="row" >
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" ><p>Productos Tienda</p>
                <pagination class="pagination" id="pagination"
                    [totalItems]="bigTotalItems" 
                    [itemsPerPage]="itemsPorPagina" 
                    [(ngModel)]="bigCurrentPage" 
                    [maxSize]="5" class="pagination-sm"
                    [boundaryLinks]="true"   
                    previousText="&lsaquo;" 
                    nextText="&rsaquo;" 
                    firstText="&laquo;" 
                    lastText="&raquo;" 
                    (pageChanged)="pageChanged($event)">
                </pagination>
            </div>

            <div class="card-block">

                <div id="buscador" class="form-group row">
                    <div class="col-md-12">
                        <div style="width:50%" class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                            </span>
                            <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Cod/Nombre" [(ngModel)]="buscadorProductos">
                        </div>
                    </div>

                    <table class="table table-hover table-outline mb-0 hidden-sm-down">
                        <thead class="thead-default">
                            <tr>
                                <th class="text-center">Activado</th>
                                <th class="text-center" style="width:100px;">Imagen</th>
                                <th class="text-center" style="width: 110px;">Código</th>
                                <th class="text-center" style="width: 20%;">Nombre</th>
                                <th class="text-center">Precio</th>
                                <th class="oferta" style = "text-align: center; width: 90px;">Oferta</th>
                                <th class="finicio" style = "text-align: center;">F. Inicio</th>
                                <th class="ffinal" style = "text-align: center;">F. Final</th>
                                <th class="oferta" for="orden" style = "text-align: center; width: 110px;">Orden</th>
                                <th class="text-center" style="width: 100px;"></th>
                            </tr>
                        </thead>
                        
                        <tbody>

                            <tr *ngFor="let producto of productos">
                                <td class="text-center">
                                    <label class="switch switch-text switch-success">
                                        <input type="checkbox" class="switch-input" checked>
                                        <span class="switch-label" data-on="On" data-off="Off"></span>
                                        <span class="switch-handle"></span>
                                    </label>
                                </td>  
                                <td class="text-center">
                                    <div class="avatar">
                                        <img src="https://images-na.ssl-images-amazon.com/images/I/4119ahlFmTL.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                                        <span *ngIf="" class="avatar-status badge-success"></span>
                                    </div>
                                </td>     
                                <td class="text-center">
                                        <strong>{{producto.Codigo_producto}}</strong>
                                </td>
                                <td class="text-center">
                                    <strong>{{producto.Nombre_producto}}</strong>
                                </td>
                                <td class="text-center">
                                    <strong>{{producto.Precio_producto}} </strong><i class="fa fa-eur"></i>
                                </td>
                                <td class="text-center">
                                    <input type="text" class="form-control" style = "text-align: center" placeholder="%">
                                </td>
                                <td class="text-center">
                                    <ng2-datepicker [options]="options" [(ngModel)]="date"></ng2-datepicker>
                                </td>
                                <td class="text-center">
                                    <ng2-datepicker [options]="options" [(ngModel)]="date"></ng2-datepicker>
                                </td>
                                <td class="text-center">
                                    <select class="form-control" id="orden">
                                        <option>0</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>155</option>
                                    </select>
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-primary" type="button" data-toggle="modal" (click)="showChildModal(producto)"><i class="fa fa-info-circle"></i>&nbsp; Ver</button>
                                </td>
                            </tr>

                        </tbody>
                    
                    </table>
                </div>
            </div>
        </div>

        <button class="btn btn-primary" type="button"><i class="fa fa-refresh"></i> Actualizar Lista</button>
        <ul class="pagination" id="pagination" >
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </div>
</div>


<!--MODAL DETALLE PRODUCTO-->

<modal-detalle-producto></modal-detalle-producto>