<!-- TABLA PRODUCTOS TOTALES -->
<div class="row" >
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" ><p>Productos Tienda</p>
                    <ul class="pagination" id="pagination">
                        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
            </div>

            <div class="card-block">

                <div id="buscador" class="form-group row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                            </span>
                            <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Cod/Nombre" [(ngModel)]="buscadorProductos">
                        </div>
                    </div>

                    <table class="table table-hover table-outline mb-0 hidden-sm-down">
                        <thead class="thead-default">
                            <tr>
                                <th class="text-center" style="width: 114px;">Activado</th>
                                <th class="text-center" style="width:130px;">Imagen</th>
                                <th class="text-center" style="width: 110px;">Código</th>
                                <th class="text-center" style="width: 20%;">Nombre</th>
                                <th class="text-center">Precio</th>
                                <th class="oferta" style = "text-align: center; width: 80px;">Oferta</th>
                                <th class="finicio" style = "text-align: center; width: 170px;">F. Inicio</th>
                                <th class="ffinal" style = "text-align: center; width: 170px;">F. Final</th>
                                <th class="oferta" style = "text-align: center; width: 70px;">Orden</th>
                                <th class="text-center" style="width: 100px;"></th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            <tr class="" >
                                <td class="text-center">
                                    <label class="switch switch-text switch-primary">
                                        <input type="checkbox" class="switch-input" checked>
                                        <span class="switch-label" data-on="On" data-off="Off"></span>
                                        <span class="switch-handle"></span>
                                    </label>
                                </td>  
                                <td class="text-center">
                                    <div class="avatar">
                                    </div>
                                </td>     
                                <td class="text-center">
                                        <strong>27001</strong>
                                </td>
                                <td class="text-center">
                                    <strong>Coca Cola Zero </strong>
                                </td>
                                <td class="text-center">
                                    <strong>0,39 </strong><i class="fa fa-eur"></i>
                                </td>
                                <td class="text-center">
                                    <input type="text" class="form-control" style = "text-align: center" placeholder="%">
                                </td>
                                <td class="text-center">
                                    <ng2-datepicker [options]="options" [(ngModel)]="date"></ng2-datepicker>
                                </td>
                                <td class="text-center">
                                    <ng2-datepicker [options]="options" [(ngModel)]="date"></ng2-datepicker>
                                </td>
                                <td class="text-center">
                                    <select class="form-control" id="orden">
                                        <option>0</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-primary" type="button" data-toggle="modal" (click)="productoModal.show()"><i class="fa fa-info-circle"></i>&nbsp; Ver</button>
                                </td>
                            </tr>
                      <tr class="" >
                                <td class="text-center">
                                    <label class="switch switch-text switch-primary">
                                        <input type="checkbox" class="switch-input" checked>
                                        <span class="switch-label" data-on="On" data-off="Off"></span>
                                        <span class="switch-handle"></span>
                                    </label>
                                    </td>  
                                <td class="text-center">
                                    <div class="avatar">
                                         <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" src="assets/img/avatars/1.jpg">
                                    </div>
                                </td>     
                                <td class="text-center">
                                        <strong>27001</strong>
                                </td>
                                <td class="text-center">
                                    <strong>Coca Cola Zero </strong>
                                </td>
                                <td class="text-center">
                                    <strong>0,39€</strong>
                                </td>
                                <td class="text-center">
                                    <input type="text" class="form-control" style = "text-align: center" placeholder="%">
                                </td>
                                <td class="text-center">
                                    <ng2-datepicker [options]="options" [(ngModel)]="date"></ng2-datepicker>
                                </td>
                                <td class="text-center">
                                                <ng2-datepicker [options]="options" [(ngModel)]="date2"></ng2-datepicker>
                                </td>
                                <td class="text-center">
                                    <select class="form-control" id="orden">
                                        <option>0</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-primary" type="button" data-toggle="modal" (click)="productoModal.show()"><i class="fa fa-info-circle"></i>&nbsp; Ver</button>
                                </td>
                            </tr>
              <tr class="" >
                                <td class="text-center">
                                    <label class="switch switch-text switch-primary">
                                        <input type="checkbox" class="switch-input" checked>
                                        <span class="switch-label" data-on="On" data-off="Off"></span>
                                        <span class="switch-handle"></span>
                                    </label>
                                    </td>  
                                <td class="text-center">
                                    <div class="avatar">
                                    </div>
                                </td>     
                                <td class="text-center">
                                        <strong>27001</strong>
                                </td>
                                <td class="text-center">
                                    <strong>Coca Cola Zero </strong>
                                </td>
                                <td class="text-center">
                                    <strong>0,39€</strong>
                                </td>
                                <td class="text-center">
                                    <input type="text" class="form-control" style = "text-align: center" placeholder="%">
                                </td>
                                <td class="text-center">
                                    <ng2-datepicker [options]="options" [(ngModel)]="date"></ng2-datepicker>
                                </td>
                                <td class="text-center">
                                                <ng2-datepicker [options]="options" [(ngModel)]="date"></ng2-datepicker>
                                </td>
                                <td class="text-center">
                                    <select class="form-control" id="orden">
                                        <option>0</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-primary" type="button" data-toggle="modal" (click)="productoModal.show()"><i class="fa fa-info-circle"></i>&nbsp; Ver</button>
                                </td>
                            </tr>
                 <tr class="" >
                                <td class="text-center">
                                    <label class="switch switch-text switch-primary">
                                        <input type="checkbox" class="switch-input" checked>
                                        <span class="switch-label" data-on="On" data-off="Off"></span>
                                        <span class="switch-handle"></span>
                                    </label>
                                    </td>  
                                <td class="text-center">
                                    <div class="avatar">
                                    </div>
                                </td>     
                                <td class="text-center">
                                        <strong>27001</strong>
                                </td>
                                <td class="text-center">
                                    <strong>Coca Cola Zero </strong>
                                </td>
                                <td class="text-center">
                                    <strong>0,39€</strong>
                                </td>
                                <td class="text-center">
                                    <input type="text" class="form-control" style = "text-align: center" placeholder="%">
                                </td>
                                <td class="text-center">
                                    <ng2-datepicker [options]="options" [(ngModel)]="date"></ng2-datepicker>
                                </td>
                                <td class="text-center">
                                                <ng2-datepicker [options]="options" [(ngModel)]="date"></ng2-datepicker>
                                </td>
                                <td class="text-center">
                                    <select class="form-control" id="orden">
                                        <option>0</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-primary" type="button" data-toggle="modal" (click)="productoModal.show()"><i class="fa fa-info-circle"></i>&nbsp; Ver</button>
                                </td>
                            </tr>                         
                        </tbody>
                    
                    </table>
                </div>
            </div>
        </div>

        <button class="btn btn-primary" type="button"><i class="fa fa-refresh"></i> Actualizar Lista</button>
        <ul class="pagination" id="pagination" >
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </div>
</div>


<!--DETALLE PRODUCTO-->

<div bsModal #productoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header-producto" id="producto">
                <h4 class="modal-title">Detalle Producto</h4>
                <button type="button" class="close" (click)="productoModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="imagenProducto">
                    <div class="form-group row">
                        <div class="col-md-9">
                            <div class="imagenPerfil">
                                <img class="imgPerfil"/>
                            </div>
                            <input type="file" id="file-input" name="file-input">
                        </div>
                    </div>
                </div>
  
    
                <div class="datosProducto">
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="disabled-input"><strong>Cod Producto</strong></label>
                            <div class="col-md-9">
                                <input type="text" id="disabled-input" name="disabled-input" class="form-control" placeholder="27001" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="disabled-input"><strong>Nombre Producto</strong></label>
                            <div class="col-md-9">
                                <input type="text" id="disabled-input" name="disabled-input" class="form-control" placeholder="Coca Cola Zero" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="disabled-input"><strong>Precio Producto</strong></label>
                            <div class="col-md-9">
                                <input type="text" id="disabled-input" name="disabled-input" class="form-control" placeholder="0,39€" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="textarea-input"><strong>Descripción</strong></label>
                            <div class="col-md-9">
                                <textarea id="textarea-input" name="textarea-input" rows="9" class="form-control" placeholder="Descripción..."></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" for="text-input"><strong>Url Video</strong></label>
                            <div class="col-md-9">
                                <input type="text" id="text-input" name="text-input" class="form-control" placeholder="https://youtu.be/iOYacSXpKrk">
                                <span class="help-block">Ponga una url como en el ejemplo</span>
                            </div>
                        </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
            </div>

        </div>
    </div>
</div>