
.switch.switch-text .switch-label {
background-color: #f86c6b;
}
////////////////////////////FACTURA///////////////////////

.modal-lg {
    max-width: 1200px;
    width: 70%;
}

.imagenProducto {
    width: 40%;
    height: 45%;
    float: left;
    padding: 20px 20px 20px 20px;

}
.imagenPerfil {
    border: 2px dashed #124570;
    border-radius: 100px;
    /*width: 400px;
    height: 400px;*/
    width: 140%;
    height: 800%;
}

.datosProducto {
    width: 55%;
    float: right;
    padding: 20px 20px 20px 0px;
}

.modal-header-producto {
    color: #fff;
    background-color: #20a8d8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #cfd8dc;
}



/////////////////////////////////////////////////////////////////////