

.input-group{
 margin-bottom: 20px;
}

#pagination {
    float: right;
    padding-top: 20px;
}

.card-header p {
    font-size: 25px;
    position: absolute;
    font-weight: 600;
    line-height: 24px;
    text-align: 29px;
    color: #124570;
}

.card-header {
    background-color: #b7d9f3;
}


////////////////////////////FACTURA///////////////////////

.modal-lg {
    max-width: 1400px;
    width: 85%;
}

.imagenProducto {
    width: 50%;
    height: 45%;
    float: left;

}
.datosProducto {
    width: 45%;
    float: left;
}

.modal-header-producto {
    color: #fff;
    background-color: #20a8d8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #cfd8dc;
}

/////////////////////////////////////////////////////////////////////