<div class="row" >
  <div class="col-md-12">
    <div class="card">

      <div class="card-header" style="height: 96px;" ><p>Pefil Administrador</p></div>
        
        <div class="card-block" id="izquierda">
            <div class="imagenPerfil">     
                 <input type="file" id="files" name="files[]" accept="image/*" (change)="handleInputChange($event)"/>  
                <img class="imgPerfilAdmin" id="imagenSrc" [src]="imageSrc" (load)="handleImageLoad()" [class.loaded]="imageLoaded"/>
            </div>                
        </div>


        <div class="card-block" id="derecha">
                    <form action="" method="post">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><strong>Email</strong></span>
                                <input class="form-control" id="email3" name="email3" type="email">
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><strong>Usuario</strong></span>
                                <input class="form-control" id="username3" name="username3" type="text">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><strong>Sexo</strong></span>
                                <select class="form-control" id="sexo" name="sexo" type="number" size="1">
                                    <option value="0">Selecione un sexo</option>
                                    <option value="1">Hombre</option>
                                    <option value="2">Mujer</option>
                                </select>
                                    <span class="input-group-addon"><i class="fa fa-venus-mars"></i></span>          
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><strong>F. Nacimiento</strong></span>
                                <input class="form-control" id="date" name="date" type="text">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><strong>Contraseña</strong></span>
                                <input class="form-control" id="password3" name="password3" type="password">
                                <span class="input-group-addon"><i class="fa fa-asterisk"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><strong>Nueva Contraseña</strong></span>
                                <input class="form-control" id="password4" name="password4" type="password">
                                <span class="input-group-addon"><i class="fa fa-asterisk"></i></span>
                            </div>
                        </div>
                   
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><strong>Repetir Contraseña</strong></span>
                                <input class="form-control" id="password5" name="password5" type="password">
                                <span class="input-group-addon"><i class="fa fa-asterisk"></i></span>
                            </div>
                        </div>
                    </form>
        </div>
        

    </div>
    <button type="button" class="btn btn-primary" style=" float: right;"><i class="fa fa-save"></i> Guardar</button>

  </div>
</div>