<div class="row" >
  <div class="col-md-12">

    <!--Card-->
    <div class="card">

      <div class="card-header" style="height: 60px;" ><p>Perfil de {{token.token['nombre_usuario']}}</p></div>
    
        <div  *ngIf="!usuario" class="loader"></div> <!--Loader que se muestra mientras carga-->

        <!--Bloque izquierda-->
        <div  *ngIf="usuario" class="card-block">
            <div class="imagenPerfil">
                <!--     
                 <input type="file" id="files" name="files[]" accept="image/*" (change)="handleInputChange($event)"/> 
                 <img class="imgPerfilAdmin" id="imagenSrc"  src="{{usuario['Foto_usuario']}}" (load)="handleImageLoad()" [class.loaded]="imageLoaded"/> 
                 -->
                 <img class="imgPerfilAdmin" id="imagenSrc"  src="{{imageSrc}}" />
            </div>
          
        </div>
       
        <!--Bloque derecha-->
        <div  *ngIf="usuario" class="card-block">

            <div  *ngIf="msgImage && error3==true && loading3==false"  class="alert alert-danger"> {{msgImage}}</div>
            <div  *ngIf="msgImage && error3==false && loading3==false"  class="alert alert-success"> {{msgImage}}</div>
            <div>
                <!--(change)="filebuttoni($event)"-->
                <input #image type="file" id="filebutton" accept="image/*" value="upload" (change)="handleInputChange($event)" >
                <button  *ngIf="imageloaded==true"  (click)="cancelImageLoad()"  type="button" class="btn btn-danger">Cancelar</button> 
                <button *ngIf="loading3==false" (click)="uploadImage()" class="btn btn-primary px-2" style="width:204px"><i class="fa fa-save"></i>  Cambiar Imagen </button>
                 <button *ngIf="loading3==true" class="btn btn-info px-2" style="width:204px"><i class="fa fa-spinner fa-spin"></i> Cambiando Imagen</button>
            </div>        
                    <form #PerfilAdminForm="ngForm" (ngSubmit)="onLogin()">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><strong>Email</strong></span>
                                <span class="form-control">{{usuario.Email_usuario}}</span>
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><strong>Usuario</strong></span>
                                <input class="form-control" [(ngModel)]="usuario.Nombre_usuario" id="username3" name="username3" type="text">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><strong>Sexo</strong></span>
                                <select class="form-control" [(ngModel)]="usuario.Sexo_usuario" id="sexo" name="sexo" >
                                    <option   [ngValue]="0">Selecione un sexo</option>
                                    <option    [ngValue]="1">Hombre</option>
                                    <option   [ngValue]="2">Mujer</option>
                                    <!-- [attr.selected]="defecto3" -->
                                </select>
                                    <span class="input-group-addon"><i class="fa fa-venus-mars"></i></span>          
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group" >
                                <span class="input-group-addon"><strong>Fecha</strong></span>
                                <input id="inputFecha" [(ngModel)]="usuario.Fecha_nac_usuario" class="form-control" id="date" name="date" type="date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                         <div  *ngIf="msg && loading==false && error==false"  class="alert alert-success">{{msg}}</div>
                         <div  *ngIf="msg && loading==false && error==true"  class="alert alert-danger">{{msg}}</div>
                          <button *ngIf="loading==false" class="btn btn-primary px-2" style="width:204px"><i class="fa fa-save"></i> Guardar Cambios </button>
                         <button *ngIf="loading==true" class="btn btn-info px-2" style="width:204px"><i class="fa fa-spinner fa-spin"></i> Guardando Cambios</button>
                        <h2>Cambio de contraseña</h2>
                        </form>

                        <form #PerfilAdminPasswordForm="ngForm" (ngSubmit)="onLoginPassword()">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><strong>Actual</strong></span>
                                    <input required class="form-control" [(ngModel)]="password" id="password3" name="password" type="password">
                                    <span class="input-group-addon"><i class="fa fa-asterisk"></i></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><strong>Nueva</strong></span>
                                    <input required class="form-control" [(ngModel)]="newPassword" id="password4" name="newPassword" type="password">
                                    <span class="input-group-addon"><i class="fa fa-asterisk"></i></span>
                                </div>
                            </div>
                    
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><strong>Repetir </strong></span>
                                    <input required class="form-control"[(ngModel)]="repeatPassword" id="password5" name="repeatPassword" type="password">
                                    <span class="input-group-addon"><i class="fa fa-asterisk"></i></span>
                                </div>
                            </div>
                            <div  *ngIf="(msgPassword || msgPassword2) && error2==true"  class="alert alert-danger"> {{msgPassword}}{{msgPassword2}}</div>
                            <div  *ngIf="(msgPassword || msgPassword2) && error2==false"  class="alert alert-success"> {{msgPassword}}{{msgPassword2}}</div>
                             <button *ngIf="loading2==false" class="btn btn-primary px-2" style="width:204px"><i class="fa fa-save"></i> Actualizar contraseña </button>
                             <button *ngIf="loading2==true" class="btn btn-info px-2" style="width:204px"><i class="fa fa-spinner fa-spin"></i> Actualizando contraseña</button>
                       </form>

                    
                    
        </div>
        
     

    </div>

 

  </div>
</div>