
input#date{
    display:inline-grid !important;
    display: -webkit-inline-box !important;
}


#izquierda{
    width: 40%;
    height: 500px; 
    float: left;
    margin-left: 0%;
}
#derecha{
    width: 45%;
    height: 500px;
    float: right;
    margin-left: 50%;
    margin-top: 105px;
    position: absolute;
}
.sexo {
    border-bottom: 1px solid #cfd8dc;
    border-top: 1px solid #cfd8dc;
    border-right: 1px solid #cfd8dc;
}
label.radio-inline {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 106px;
}
label#hombre {
    padding-left: 70px;
}
/*
input[type="file"] {
    opacity: 0;
    width: 395px;
    height: 395px;
    position: absolute;
    top: 120px;
    border-radius: 200px;
}
*/
.imagenPerfil {
    border: 2px dashed #124570;
    height: 400px;
    width: 400px;
    margin-left: 30px;
    border-radius: 200px;
}
img.imgPerfilAdmin {
    width: 395px;
    height: 395px;
    border-radius: 200px;
}