<div class="row" >
  <div class="col-md-12">
    <!--Card-->
    <div class="card">

      <div class="card-header" style="height: 60px;" ><p>Perfil de: {{token.token['nombre_usuario']}}</p></div>
    
        <div  *ngIf="!usuario" class="loader"></div> <!--Loader que se muestra mientras carga-->

        <div class="form-group row">
            <!--Bloque izquierda-->
            <div  *ngIf="usuario" class="card-block col-md-5">
                <div class="imagenPerfil">
                    <!--     
                    <input type="file" id="files" name="files[]" accept="image/*" (change)="handleInputChange($event)"/> 
                    <img class="imgPerfilAdmin" id="imagenSrc"  src="{{usuario['Foto_usuario']}}" (load)="handleImageLoad()" [class.loaded]="imageLoaded"/> 
                    -->
                    <img class="imgPerfilAdmin" id="imagenSrc"  src="{{imageSrc}}" />
                    <input #image type="file" id="filebutton" accept="image/*" value="upload" (change)="handleInputChange($event)" >
                    <p style="color:#b0bec5;; font-size: 13px; text-align: center; padding-top: 10px;">*Arrastra sobre la imagen o pulsa sobre ella para cambiar la.</p>
                </div>

                <!--(change)="filebuttoni($event)"-->
                <div class="botonesImagen" style="padding-bottom: 15px; padding-top: 40px; padding-left: 20px">
                    <button  *ngIf="imageloaded==true"  (click)="cancelImageLoad()"  type="button" class="btn btn-danger">Cancelar</button> 
                    <button *ngIf="loading3==false" (click)="uploadImage()" class="btn btn-primary px-2" style="width:130px"><i class="fa fa-save"></i>  Guardar</button>
                    <button *ngIf="loading3==true" class="btn btn-info px-2" style="width:130px"><i class="fa fa-spinner fa-spin"></i> Guardando...</button>
                </div>

                <!--<input #image type="file" id="filebutton" accept="image/*" value="upload" (change)="handleInputChange($event)">-->
                <div  *ngIf="msgImage && error3==true && loading3==false"  class="alert alert-danger"> {{msgImage}}</div>
                <div  *ngIf="msgImage && error3==false && loading3==false"  class="alert alert-success" > {{msgImage}}</div>

            </div>
        
            <!--Bloque derecha-->
            <div  *ngIf="usuario" class="col-md-7" style="float: right; padding-bottom: 15px; padding-top: 50px;">

                <div class="col-md-12">
                    <!-- Nav tabs -->
                    <tabset>
                        <tab>
                            <template tabHeading><i class="icon-list"></i> Datos Pesonales
                            <!--  <span class="badge badge-success">New</span>-->
                            </template>
                            <form class="col-md-12" #PerfilAdminForm="ngForm" (ngSubmit)="onLogin()">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><strong>Email</strong></span>
                                        <span class="form-control">{{usuario.Email_usuario}}</span>
                                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><strong>Usuario</strong></span>
                                        <input class="form-control" [(ngModel)]="usuario.Nombre_usuario" id="username3" name="username3" type="text">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><strong>Sexo</strong></span>
                                        <select class="form-control" [(ngModel)]="usuario.Sexo_usuario" id="sexo" name="sexo" >
                                            <option   [ngValue]="0">Selecione un sexo</option>
                                            <option    [ngValue]="1">Hombre</option>
                                            <option   [ngValue]="2">Mujer</option>
                                            <!-- [attr.selected]="defecto3" -->
                                        </select>
                                            <span class="input-group-addon"><i class="fa fa-venus-mars"></i></span>          
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group" >
                                        <span class="input-group-addon"><strong>Fecha</strong></span>
                                        <input id="inputFecha" [(ngModel)]="usuario.Fecha_nac_usuario" class="form-control" id="date" name="date" type="date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                                <div  *ngIf="msg && loading==false && error==false"  class="alert alert-success">{{msg}}</div>
                                <div  *ngIf="msg && loading==false && error==true"  class="alert alert-danger">{{msg}}</div>
                                <button *ngIf="loading==false" class="btn btn-primary px-2" style="width:130px"><i class="fa fa-save"></i> Guardar</button>
                                <button *ngIf="loading==true" class="btn btn-info px-2" style="width:130px"><i class="fa fa-spinner fa-spin"></i> Guardando...</button>
                            </form>
                        </tab>
                        
                        <tab>
                            <template tabHeading><i class="icon-list"></i> Cambiar Password
                                <!--<span class="badge badge-pill badge-danger">29</span>-->
                            </template>
                            <form class="col-md-12" #PerfilAdminPasswordForm="ngForm" (ngSubmit)="onLoginPassword()">

                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><strong>Password</strong></span>
                                        <input required class="form-control" [(ngModel)]="password" id="password3" name="password" type="password">
                                        <span class="input-group-addon"><i class="fa fa-asterisk"></i></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><strong>Nueva Password</strong></span>
                                        <input required class="form-control" [(ngModel)]="newPassword" id="password4" name="newPassword" type="password">
                                        <span class="input-group-addon"><i class="fa fa-asterisk"></i></span>
                                    </div>
                                </div>
                        
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><strong>Repetir Password </strong></span>
                                        <input required class="form-control"[(ngModel)]="repeatPassword" id="password5" name="repeatPassword" type="password">
                                        <span class="input-group-addon"><i class="fa fa-asterisk"></i></span>
                                    </div>
                                </div>
                                <div  *ngIf="(msgPassword || msgPassword2) && error2==true"  class="alert alert-danger"> {{msgPassword}}{{msgPassword2}}</div>
                                <div  *ngIf="(msgPassword || msgPassword2) && error2==false"  class="alert alert-success"> {{msgPassword}}{{msgPassword2}}</div>
                                <button *ngIf="loading2==false" class="btn btn-primary px-2" style="width:130px"><i class="fa fa-save"></i> Guardar</button>
                                <button *ngIf="loading2==true" class="btn btn-info px-2" style="width:130px"><i class="fa fa-spinner fa-spin"></i> Guardando...</button>
                        </form>
                        </tab>
                    </tabset>
                </div>
                <!--/.col-->


            <!--
                            <form class="col-md-6" #PerfilAdminForm="ngForm" (ngSubmit)="onLogin()">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><strong>Email</strong></span>
                                        <span class="form-control">{{usuario.Email_usuario}}</span>
                                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><strong>Usuario</strong></span>
                                        <input class="form-control" [(ngModel)]="usuario.Nombre_usuario" id="username3" name="username3" type="text">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><strong>Sexo</strong></span>
                                        <select class="form-control" [(ngModel)]="usuario.Sexo_usuario" id="sexo" name="sexo" >
                                            <option   [ngValue]="0">Selecione un sexo</option>
                                            <option    [ngValue]="1">Hombre</option>
                                            <option   [ngValue]="2">Mujer</option>
                                            <!-- [attr.selected]="defecto3"-->
                <!--
                                        </select>
                                            <span class="input-group-addon"><i class="fa fa-venus-mars"></i></span>          
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group" >
                                        <span class="input-group-addon"><strong>Fecha</strong></span>
                                        <input id="inputFecha" [(ngModel)]="usuario.Fecha_nac_usuario" class="form-control" id="date" name="date" type="date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                                <div  *ngIf="msg && loading==false && error==false"  class="alert alert-success">{{msg}}</div>
                                <div  *ngIf="msg && loading==false && error==true"  class="alert alert-danger">{{msg}}</div>
                                <button *ngIf="loading==false" class="btn btn-primary px-2" style="width:204px"><i class="fa fa-save"></i> Guardar Cambios </button>
                                <button *ngIf="loading==true" class="btn btn-info px-2" style="width:204px"><i class="fa fa-spinner fa-spin"></i> Guardando Cambios</button>
                            </form>
                -->
                <!--  
                            <form class="col-md-6" #PerfilAdminPasswordForm="ngForm" (ngSubmit)="onLoginPassword()">
                                <h2>Cambio de contraseña</h2>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><strong>Actual</strong></span>
                                        <input required class="form-control" [(ngModel)]="password" id="password3" name="password" type="password">
                                        <span class="input-group-addon"><i class="fa fa-asterisk"></i></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><strong>Nueva</strong></span>
                                        <input required class="form-control" [(ngModel)]="newPassword" id="password4" name="newPassword" type="password">
                                        <span class="input-group-addon"><i class="fa fa-asterisk"></i></span>
                                    </div>
                                </div>
                        
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><strong>Repetir </strong></span>
                                        <input required class="form-control"[(ngModel)]="repeatPassword" id="password5" name="repeatPassword" type="password">
                                        <span class="input-group-addon"><i class="fa fa-asterisk"></i></span>
                                    </div>
                                </div>
                                <div  *ngIf="(msgPassword || msgPassword2) && error2==true"  class="alert alert-danger"> {{msgPassword}}{{msgPassword2}}</div>
                                <div  *ngIf="(msgPassword || msgPassword2) && error2==false"  class="alert alert-success"> {{msgPassword}}{{msgPassword2}}</div>
                                <button *ngIf="loading2==false" class="btn btn-primary px-2" style="width:204px"><i class="fa fa-save"></i> Actualizar contraseña </button>
                                <button *ngIf="loading2==true" class="btn btn-info px-2" style="width:204px"><i class="fa fa-spinner fa-spin"></i> Actualizando contraseña</button>
                        </form>
                    -->      
            </div>
        </div>

    </div>
  </div>
</div>