<div bsModal #modalFactura="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="width: 50%;" >
        <div class="modal-content">

               <div class="modal-header-factura" id="producto" style="background-color: #124570;">
                <h4 class="modal-title">Factura</h4>
                <button type="button" class="close" (click)="hideChildModal()" aria-label="Close">
                    <span aria-hidden="true" style="color:white;"><i class="fa fa-remove fa-lg m-t-2"></i></span>
                </button>
            </div>

            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="col-md-6" id="datosTienda">
                            <p><span>Tienda de Ropa</span> - CIF: 21212121F</p>
                            <p><strong>Num:</strong> F1231</p>
                            <p>C/: Reyes Catolicos Nº25</p>
                            <p>Alicante - 03005</p>
                            <p><em>21/02/2017 · 14:55</em></p>
                            <p>Tlf: 965 48 48 48</p>  
                        </div>
                        <div class="col-md-6" id="datosCliente">
                            <p><span>Jose Fco Moreno Fernández</span></p>
                            <p>DNI: 48362351K</p>
                            <p>C/: Princesa Mercedez Nº12 4C</p>
                            <p>Alicante - 03006</p>
                            <p><span>josefcomoreno85@gmail.com</span></p>
                            <button type="button" class="btn btn-danger">Descargar Pdf <i class="fa fa-file-pdf-o"></i></button>
                        </div>
                    </div>
                </div>


                <div class="tablaFactura">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="descripcion" style="text-align: center">Descripción</th>
                                    <th class="cantidad" style="text-align: center">Cantidad</th>
                                    <th class="precio" style="text-align: center">Precio</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Coca Cola Zero</td>
                                    <td style="text-align: center">1</td>
                                    <td style="text-align: center">0,49€</td>
                                </tr>
                                <tr>
                                    <td>Barra de Pan</td>
                                    <td style="text-align: center">2</td>
                                    <td style="text-align: center">0,90€</td>
                                </tr>
                                <tr>
                                    <td>Caja de Galletas Tostarica</td>
                                    <td style="text-align: center">10</td>
                                    <td style="text-align: center">3,85€</td>

                                </tr>
                                <tr>
                                    <td>Chocolate Milka con Caramelo</td>
                                    <td style="text-align: center">10</td>
                                    <td style="text-align: center">23,34€</td>
                                </tr>
                                <tr>
                                    <td>Caramelos Explosivos</td>
                                    <td style="text-align: center">5</td>
                                    <td style="text-align: center">53,34€</td>
                                </tr>
                                <tr>
                                    <td>Langostinos del Mar Muerto</td>
                                    <td style="text-align: center">1</td>
                                    <td style="text-align: center">23,34€</td>
                                </tr>
                                <tr>
                                    <td>Fanta Limón</td>
                                    <td style="text-align: center">25</td>
                                    <td style="text-align: center">0,44€</td>
                                </tr>
                                <tr>
                                    <td>Cerceza Guinnes</td>
                                    <td style="text-align: center">50</td>
                                    <td style="text-align: center">2,5€</td>
                                </tr>
                                <tr>
                                    <td>Chocolate Milka con Caramelo</td>
                                    <td style="text-align: center">10</td>
                                    <td style="text-align: center">23,34€</td>
                                </tr>
                                <tr>
                                    <td>Caramelos Explosivos</td>
                                    <td style="text-align: center">5</td>
                                    <td style="text-align: center">53,34€</td>
                                </tr>
                            </tbody>
                        </table>
                </div>

                <div class="importe">
                    <div>
                        <p>Base: <span class="base">1000,00€</span></p>
                        <p><span class="impuestos">IVA 4%: 10€ · IVA 8%: 25€ · IVA 21%: 15,50€</span></p>
                        <p><strong>Total con IVA:</strong><span class="total">1050,50€</span></p>
                     </div>
                </div>

        </div>



        </div>
    </div>
</div>           