<!---MODAL PERFIL CLIENTE-->

    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header-producto" id="producto">
                <h4 class="modal-title">Perfil Cliente</h4>
                <button type="button" class="close" (click)="clickCLose()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

                <div class="modal-body">
                  
                    <div class="imagenUsuario">
                        <div class="imagenPerfil">
                            <img class="imgPerfil" src="{{usuario.Foto_usuario}}" style="width:80%"/>
                        </div>
                    </div>
  
    
                    <div class="datosUsuario">

                        <div class="form-group row">
                            <div class="col-md-7">
                                <label class="col-md-3 form-control-label"><strong>Nombre: </strong> {{usuario.Nombre_usuario}}</label>
                            </div>
                            <div class="col-md-5">
                                 <label class="col-md-3 form-control-label"><strong>Sexo: </strong> {{usuario.Sexo_usuario}}</label>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-7">
                                <label class="col-md-3 form-control-label"><strong>Email: </strong>{{usuario.Email_usuario}}</label>
                            </div>
                            <div class="col-md-5">
                                <label class="col-md-3 form-control-label"><strong>Telefono: </strong> {{usuario.Telefono_usuario}}</label>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <div class="col-md-7">
                                <label class="col-md-3 form-control-label"><strong>CP: </strong>  {{usuario.CP_usuario}}</label>
                            </div>
                            <div class="col-md-5">
                                <label class="col-md-3 form-control-label"><strong>Localidad: </strong>  {{usuario.Localidad_usuario}}</label>
                            </div>
                        </div>
  
               
                    </div>
            </div>

            <div class="modal-footer">
                <div class="col-md-12 mb-2">
                    <tabset>
                        
                        <tab heading="Facturas">
                            <table class="table table-hover table-outline mb-0 hidden-sm-down">
                                <thead class="thead-default">
                                    <tr>
                                        <th class="text-center" >Nº Fact</th>
                                        <th class="text-center" >Fecha</th>
                                        <th class="text-center" >Hora</th>
                                        <th class="text-center">Total</th>
                                        <th class="text-center">Usuario</th>
                                        <th class="text-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                            
                                    <tr>
                                        <td class="text-center">
                                            <strong>N05</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>17-01-2017</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>17:00</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>200 </strong><i class="fa fa-eur"></i>
                                        </td>
                                        <td class="text-center">
                                            <strong>josefcomoreno85@gmail.com</strong>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-primary" type="button" data-toggle="modal" (click)="putaModal.show()"><i class="fa fa-info-circle"></i>&nbsp; Ver</button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="text-center">
                                        <strong>N025</strong>
                                        </td>
                                        <td class="text-center">
                                        <strong>17-01-2017</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>17:00</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>100€</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>josefcomoreno85@gmail.com</strong>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-primary" type="button" data-toggle="modal" (click)="facturaModal.show()"><i class="fa fa-info-circle"></i>&nbsp; Ver</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                        <strong>N050</strong>
                                        </td>
                                        <td class="text-center">
                                        <strong>17-01-2017</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>17:00</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>400€</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>josefcomoreno85@gmail.com</strong>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-primary" type="button" data-toggle="modal" (click)="facturaModal.show()"><i class="fa fa-info-circle"></i>&nbsp; Ver</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                        <strong>N055</strong>
                                        </td>
                                        <td class="text-center">
                                        <strong>17-01-2017</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>17:00</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>800€</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>josefcomoreno85@gmail.com</strong>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-primary" type="button" data-toggle="modal" (click)="facturaModal.show()"><i class="fa fa-info-circle"></i>&nbsp; Ver</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                        <strong>N065</strong>
                                        </td>
                                        <td class="text-center">
                                        <strong>17-01-2017</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>17:00</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>200€</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>casfgjkooef@gmail.com</strong>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-primary" type="button" data-toggle="modal" (click)="facturaModal.show()"><i class="fa fa-info-circle"></i>&nbsp; Ver</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                        <strong>N075</strong>
                                        </td>
                                        <td class="text-center">
                                        <strong>17-01-2017</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>17:00</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>1200€</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>lkjumvhquruma@gmail.com</strong>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-primary" type="button" data-toggle="modal" (click)="facturaModal.show()"><i class="fa fa-info-circle"></i>&nbsp; Ver</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                        <strong>N085</strong>
                                        </td>
                                        <td class="text-center">
                                        <strong>17-01-2017</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>17:00</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>600€</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>pohgjhmg@gmail.com</strong>
                                        </td>
                                         <td class="text-center">
                                            <button class="btn btn-primary" type="button" data-toggle="modal" (click)="facturaModal.show()"><i class="fa fa-info-circle"></i>&nbsp; Ver</button>
                                        </td>                                       
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                        <strong>N095</strong>
                                        </td>
                                        <td class="text-center">
                                        <strong>17-01-2017</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>17:00</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>200€</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>josefcomliuñuñuinhoreno85@gmail.com</strong>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-primary" type="button" data-toggle="modal" (click)="facturaModal.show()"><i class="fa fa-info-circle"></i>&nbsp; Ver</button>
                                        </td>                                        
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                        <strong>N105</strong>
                                        </td>
                                        <td class="text-center">
                                        <strong>17-01-2017</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>17:00</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>2100€</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>asdafdasfaf@gmail.com</strong>
                                        </td>
                                         <td class="text-center">
                                            <button class="btn btn-primary" type="button" data-toggle="modal" (click)="facturaModal.show()"><i class="fa fa-info-circle"></i>&nbsp; Ver</button>
                                        </td>                                       
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                        <strong>N205</strong>
                                        </td>
                                        <td class="text-center">
                                        <strong>17-01-2017</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>17:00</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>2000€</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>josefcomoreno85@gmail.com</strong>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-primary" type="button" data-toggle="modal" (click)="facturaModal.show()"><i class="fa fa-info-circle"></i>&nbsp; Ver</button>
                                        </td>                                        
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                        <strong>N305</strong>
                                        </td>
                                        <td class="text-center">
                                        <strong>17-01-2017</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>17:00</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>4000€</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>jfmf85@gmail.com</strong>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-primary" type="button" data-toggle="modal" (click)="facturaModal.show()"><i class="fa fa-info-circle"></i>&nbsp; Ver</button>
                                        </td>                                        
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                        <strong>N405</strong>
                                        </td>
                                        <td class="text-center">
                                        <strong>17-01-2017</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>17:00</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>200€</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>ymtyml@gmail.com</strong>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-primary" type="button" data-toggle="modal" (click)="facturaModal.show()"><i class="fa fa-info-circle"></i>&nbsp; Ver</button>
                                        </td>                                        
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                        <strong>N05</strong>
                                        </td>
                                        <td class="text-center">
                                        <strong>17-01-2017</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>17:00</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>250€</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>axcvhdfjddgaasebntj@gmail.com</strong>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-primary" type="button" data-toggle="modal" (click)="facturaModal.show()"><i class="fa fa-info-circle"></i>&nbsp; Ver</button>
                                        </td>                                        
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                        <strong>N505</strong>
                                        </td>
                                        <td class="text-center">
                                        <strong>17-01-2017</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>17:00</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>100€</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>iluvcb@gmail.com</strong>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-primary" type="button" data-toggle="modal" (click)="facturaModal.show()"><i class="fa fa-info-circle"></i>&nbsp; Ver</button>
                                        </td>                                        
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                        <strong>N605</strong>
                                        </td>
                                        <td class="text-center">
                                        <strong>17-01-2017</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>17:00</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>300€</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>nytmmt@gmail.com</strong>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-primary" type="button" data-toggle="modal" (click)="facturaModal.show()"><i class="fa fa-info-circle"></i>&nbsp; Ver</button>
                                        </td>                                        
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                        <strong>N705</strong>
                                        </td>
                                        <td class="text-center">
                                        <strong>17-01-2017</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>17:00</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>350€</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>yjtjt@gmail.com</strong>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-primary" type="button" data-toggle="modal" (click)="facturaModal.show()"><i class="fa fa-info-circle"></i>&nbsp; Ver</button>
                                        </td>                                        
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                        <strong>N805</strong>
                                        </td>
                                        <td class="text-center">
                                        <strong>17-01-2017</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>17:00</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>200€</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>asfbfdhgs@gmail.com</strong>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-primary" type="button" data-toggle="modal" (click)="facturaModal.show()"><i class="fa fa-info-circle"></i>&nbsp; Ver</button>
                                        </td>                                        
                                    </tr>
                                </tbody>
                            </table>
                        </tab>

                        <tab heading="Ofertas">
                            <table class="table table-hover table-outline mb-0 hidden-sm-down">
                                <thead class="thead-default">
                                    <tr>
                                        <th class="text-center" style="width: 130px;">Imagen</th>
                                        <th class="text-center" style="width: 135px;">Código</th>
                                        <th class="text-center" style="width: 20%;">Nombre</th>
                                        <th class="text-center" style="width: 150px;">Precio</th>
                                        <th class="oferta" style = "text-align: center; width: 100px;">Oferta</th>
                                        <th class="finicio" style = "text-align: center; width: 110px;">F. Inicio</th>
                                        <th class="ffinal" style = "text-align: center; width: 110px;">F. Final</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr class="" >
                                        <td class="text-center">
                                            <div class="avatar">
                                            </div>
                                        </td>     
                                        <td class="text-center">
                                            <strong>27001</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>Coca Cola Zero </strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>0,39 </strong><i class="fa fa-eur"></i>
                                        </td>
                                        <td class="text-center">
                                        <p class="form-control-static"><strong>25 </strong><i class="fa fa-percent"></i></p>
                                        </td>
                                        <td class="text-center">
                                            <p class="form-control-static"><strong>17/02/2017</strong></p>
                                        </td>
                                        <td class="text-center">
                                            <p class="form-control-static"><strong>17/03/2017</strong></p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </tab>

                    </tabset>
                </div>
            </div>

        </div>
    </div>
