<!-- TABLA USUARIOS TOTALES -->
<div class="row" >
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" ><p>Clientes de {{datostokenservice.token['nombre_tienda']}}</p>
                <pagination class="pagination" id="pagination"
                    [totalItems]="bigTotalItems" 
                    [itemsPerPage]="itemsPorPagina" 
                    [(ngModel)]="bigCurrentPage" 
                    [maxSize]="5" class="pagination-sm"
                    [boundaryLinks]="true"   
                    previousText="&lsaquo;" 
                    nextText="&rsaquo;" 
                    firstText="&laquo;" 
                    lastText="&raquo;" 
                    (pageChanged)="pageChanged($event)">
                </pagination>
            </div> 
 
          <div  *ngIf="!usuarios" class="loader"  style="margin-top:30px"></div>
            <div  *ngIf="error==true" style="text-align:center; margin-top:30px; margin:0 auto; margin-bottom:30px; width:90%" class="alert alert-danger">
              {{mensajeError}}
           </div> 

            <div *ngIf="usuarios" class="card-block">

                <div id="buscador" class="form-group row">
                    <div class="col-md-12">
                        <div style="width:50%" class="input-group">
                            <span class="input-group-btn">
                                <button *ngIf="buscando==false" type="button" (click)="buscar()" style="width:132px;" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                                <button *ngIf="buscando==true" class="btn btn-info px-2" style="width:132px;"><i class="fa fa-spinner fa-spin"></i> Buscando</button>
                            </span>
                            <input type="text" iFid="input1-group2" name="input1-group2" class="form-control" placeholder="Usuario" [(ngModel)]="buscadorUsuarios">
                        </div>


                        
                        <div *ngIf="busquedaActiva == true"  class="col-sm-12 filtro">
                            <span class="bold fp">Filtrado por:</span>
                            <span class="filtros">
                                <span class="tag bolds">
                                    <a (click)="eliminarBusqueda();" class="btn btn-sm btn-instagram text">
                                    <span data-value="busqueda" class="closex">x</span>
                                    <span class="item">{{tag}}</span>
                                    </a>
                                </span>
					        </span>
	                    </div>
                    </div>

                    <div  *ngIf="error2==true" style="text-align:center; margin-bottom:0px; width: 100%" class="alert alert-danger">
                        {{mensajeError}}
                    </div> 
                    <table class="table table-hover table-outline mb-0 hidden-sm-down">
                        <thead class="thead-default">
                            <tr>
                                <th class="text-center" style="width: 114px;">Activado</th>
                                <th class="text-center" style="width: 100px;"><i class="icon-people"></i></th>
                                <th style="width: 300px;">Cliente</th>
                                <th>Correo electrónico</th>
                                <th class="text-center" style="width: 125px;">CP</th>
                                <th class="text-center" style="width: 250px;">Municipio</th>
                                <th style="width: 150px;">Teléfono</th>
                                <th class="text-center" style="width: 100px;"></th>
                            </tr>
                        </thead>
                
                        <tbody>
            
                            <!-- <tr *ngFor="let usuarios of usuarios | search: 'Nombre': 'Email':  buscadorUsuarios"> -->
                            <tr *ngFor="let usuario of usuarios">
                          
                                <td class="text-center">
                                    <label class="switch switch-text switch-success">
                                        <!--
                                        <input *ngIf="usuario.Eliminado_usuario==0" type="checkbox" class="switch-input" checked>
                                        <input *ngIf="usuario.Eliminado_usuario==1" type="checkbox" class="switch-input" [checked]="saveUsername" >
                                        
                                        -->
                                        <input  type="checkbox" class="switch-input"  [checked]="!usuario.Eliminado_usuario" (change)="changeActivo(usuario)">
                                        <span class="switch-label" data-on="On" data-off="Off"></span>
                                        <span class="switch-handle"></span>
                                    </label>
                                </td>  
                                <td class="text-center">
                                    <div class="avatar">
                                        <img src="{{usuario.Foto_usuario}}" class="img-avatar" alt="admin@bootstrapmaster.com" src="assets/img/avatars/1.jpg">
                                        <span *ngIf="usuario.Eliminado_usuario==0" class="avatar-status badge-success"></span>
                                        <span *ngIf="usuario.Eliminado_usuario==1" class="avatar-status badge-danger"></span>
                                    </div>
                                </td>
                                <td>
                                    <div>{{usuario.Nombre_usuario}}</div>
                                    <div class="small text-muted">
                                        Registro: {{usuario.Fecha_usuario}} 
                                    </div>
                                </td>
                                <td>
                                    <strong>{{usuario.Email_usuario}}</strong>
                                </td>
                                <td class="text-center">
                                    <strong>{{usuario.CP_usuario}}</strong>
                                </td>
                                <td class="text-center">
                                    <strong>{{usuario.Localidad_usuario}}</strong>
                                </td>
                                <td>
                                    <strong>{{usuario.Telefono_usuario}}</strong>
                                </td>
                                <td class="text-center">
                                    <!--perfilClienteModal.show() -->
                                    <button class="btn btn-primary" type="button" data-toggle="modal" (click)="showChildModal(usuario)"><i class="fa fa-info-circle"></i>&nbsp; Ver</button>
                                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>                       
                </div>
                <div  *ngIf="msgActivo && errorActivo==true && loadingActivo==false" style="text-align:center; margin-bottom:0px; width: 100%" class="alert alert-danger">  {{msgActivo}} </div>
                <div  *ngIf="msgActivo && errorActivo==false && loadingActivo==false" style="text-align:center; margin-bottom:0px; width: 100%" class="alert alert-success">  {{msgActivo}} </div>
            </div>

            <diV>
                <button *ngIf="loadingActivo==false" (click)="updateUserActivo()" style="width:180px; margin-left: 15px;" type="submit"  class="btn btn-primary px-2"><i class="fa fa-save"></i> Guardar cambios</button>
                <button *ngIf="loadingActivo==true" class="btn btn-info px-2" style="width:180px; margin-left: 15px;"><i class="fa fa-spinner fa-spin"></i> Guardando cambios</button>
                <pagination class="pagination" id="pagination"
                    [totalItems]="bigTotalItems" 
                    [itemsPerPage]="itemsPorPagina" 
                    [(ngModel)]="bigCurrentPage" 
                    [maxSize]="5" class="pagination-sm"
                    [boundaryLinks]="true"   
                    previousText="&lsaquo;" 
                    nextText="&rsaquo;" 
                    firstText="&laquo;" 
                    lastText="&raquo;" 
                    (pageChanged)="pageChanged($event)">
                </pagination>
            </diV>

        </div>
    </div>
</div>



<!---MODAL PERFIL CLIENTE-->
<modal-perfil ></modal-perfil> <!-- Componente externo--> <!--(onSelect)="hideChildModal()"-->

