<!---MODAL PERFIL CLIENTE-->
<div bsModal #perfilClienteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header-producto" id="producto">
                <h4 class="modal-title">Perfil de {{usuario.Nombre_usuario}}</h4>
                <button type="button" class="close" (click)="hideChildModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!--MODAL BODY -->
            <div class="modal-body">
                  
                    <div class="imagenUsuario">
                        <div class="imagenPerfil">
                            <img class="imgPerfil" src="{{usuario.Foto_usuario}}" style="width:80%"/>
                        </div>
                    </div>
  
    
                    <div class="datosUsuario">

                        <div class="form-group row">
                            <div class="col-md-7">
                                <label class="col-md-3 form-control-label"><strong>Nombre: </strong> {{usuario.Nombre_usuario}}</label>
                            </div>
                            <div class="col-md-5">
                                 <label class="col-md-3 form-control-label"><strong>Sexo: </strong> {{usuario.Sexo_usuario}}</label>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-7">
                                <label class="col-md-3 form-control-label"><strong>Email: </strong>{{usuario.Email_usuario}}</label>
                            </div>
                            <div class="col-md-5">
                                <label class="col-md-3 form-control-label"><strong>Telefono: </strong> {{usuario.Telefono_usuario}}</label>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <div class="col-md-7">
                                <label class="col-md-3 form-control-label"><strong>CP: </strong>  {{usuario.CP_usuario}}</label>
                            </div>
                            <div class="col-md-5">
                                <label class="col-md-3 form-control-label"><strong>Localidad: </strong>  {{usuario.Localidad_usuario}}</label>
                            </div>
                        </div>
  
               
                    </div>
            </div>
             <!--FIN MODAL BODY -->

            <div class="modal-footer">
                <div class="col-md-12 mb-2">
                    <tabset>
                        
                        <!-- FACTURAS -->
                        <tab heading="Facturas">
                            <table class="table table-hover table-outline mb-0 hidden-sm-down ">
                                <thead class="thead-default">
                                    <tr>
                                        <th class="text-center" >Id </th>
                                        <th class="text-center" >Fecha</th>
                                        <th class="text-center">Total</th>
                                        <th class="text-center">Pagada</th>
                                        <th class="text-center">
                                            <button type="button" *ngIf="!loadingFacturas"  (click)="getFacturasUser();" class="btn btn-success">Actualizar</button>
                                            <button type="button" *ngIf="loadingFacturas" class="btn btn-success" ><i class="fa fa-spinner fa-spin"></i> Actualizando</button>
                                        </th>
                                    </tr>
                                    
                                </thead>
                               
                                <div *ngIf="loadingFacturas" class="loader"  style="margin-top:30px;"></div>
                                <div  *ngIf="msgFacturas && loadingFacturas==false" style="text-align:center; margin-bottom:0px; width: 100%" class="alert alert-danger">  {{msgFacturas}} </div>                      

                                <tbody *ngIf="!loadingFacturas">

                                    <tr  *ngFor="let factura of facturas">

                                        <td class="text-center">
                                            <strong>{{factura.Id_factura}}</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>{{factura.Fecha_factura}}</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>{{factura.Total_factura}} </strong><i class="fa fa-eur"></i>
                                        </td>
                                        <td class="text-center">
                                            <strong>{{factura.Pagada}}</strong>
                                        </td> 
                                        <td id="actualizar" class="text-center actualizar">
                                            <button class="btn btn-primary" type="button" data-toggle="modal" (click)="putaModal.show()"><i class="fa fa-info-circle"></i>&nbsp; Ver</button>
                                        </td>
                                    </tr>                                           
                                </tbody>
                       
                            </table>
                        </tab>
                        <!-- FIN FACTURAS -->
                        
                        <!-- OFERTAS-->
                        <tab heading="Ofertas">
                            <table class="table table-hover table-outline mb-0 hidden-sm-down">
                                <thead class="thead-default">
                                    <tr>
                                        <th class="text-center" style="width: 130px;">Imagen</th>
                                        <th class="text-center" style="width: 135px;">Código</th>
                                        <th class="text-center" style="width: 20%;">Nombre</th>
                                        <th class="text-center" style="width: 150px;">Precio</th>
                                        <th class="oferta" style = "text-align: center; width: 100px;">Oferta</th>
                                        <th class="finicio" style = "text-align: center; width: 110px;">F. Inicio</th>
                                        <th class="ffinal" style = "text-align: center; width: 110px;">F. Final</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr class="" >
                                        <td class="text-center">
                                            <div class="avatar">
                                            </div>
                                        </td>     
                                        <td class="text-center">
                                            <strong>27001</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>Coca Cola Zero </strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>0,39 </strong><i class="fa fa-eur"></i>
                                        </td>
                                        <td class="text-center">
                                        <p class="form-control-static"><strong>25 </strong><i class="fa fa-percent"></i></p>
                                        </td>
                                        <td class="text-center">
                                            <p class="form-control-static"><strong>17/02/2017</strong></p>
                                        </td>
                                        <td class="text-center">
                                            <p class="form-control-static"><strong>17/03/2017</strong></p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </tab>
                        <!--FIN OFERTAS-->

                    </tabset>
                </div>
            </div>

        </div>
    </div>
</div>