<!-- TABLA USUARIOS TOTALES -->
<div class="row" >
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" ><p>Clientes de H&M</p>
                    <ul class="pagination" id="pagination">
                        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
            </div>
 
            <h1 *ngIf="!usuarios"> CARGANDO USUARIOS... </h1>
            <div  *ngIf="!usuarios" class="loader"></div>
            <div *ngIf="usuarios" class="card-block">

                <div id="buscador" class="form-group row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                            </span>
                            <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Usuario" [(ngModel)]="buscadorUsuarios">
                        </div>
                    </div>

                    <table class="table table-hover table-outline mb-0 hidden-sm-down">
                        <thead class="thead-default">
                            <tr>
                                <th class="text-center" style="width: 100px;"><i class="icon-people"></i></th>
                                <th style="width: 300px;">Cliente</th>
                                <th>Correo electrónico</th>
                                <th class="text-center" style="width: 125px;">CP</th>
                                <th class="text-center" style="width: 250px;">Municipio</th>
                                <th style="width: 150px;">Teléfono</th>
                                <th class="text-center" style="width: 100px;"></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let usuarios of usuarios | search: 'Nombre': 'Email':  buscadorUsuarios">
                                <td class="text-center">
                                    <div class="avatar">
                                        <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" src="assets/img/avatars/1.jpg">
                                        <span *ngIf="usuarios.Eliminado==0" class="avatar-status badge-success"></span>
                                        <span *ngIf="usuarios.Eliminado==1" class="avatar-status badge-danger"></span>
                                    </div>
                                </td>
                                <td>
                                    <div>{{usuarios.Nombre}}</div>
                                    <div class="small text-muted">
                                        Registro: {{usuarios.Fecha}} 
                                    </div>
                                </td>
                                <td>
                                    <strong>{{usuarios.Email}}</strong>
                                </td>
                                <td class="text-center">
                                    <strong>{{usuarios.CP}}</strong>
                                </td>
                                <td class="text-center">
                                    <strong>{{usuarios.Municipio}}</strong>
                                </td>
                                <td>
                                    <strong>{{usuarios.Telefono}}</strong>
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-primary" type="button" data-toggle="modal" (click)="perfilClienteModal.show()"><i class="fa fa-info-circle"></i>&nbsp; Ver</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!--<button class="btn btn-primary" type="button"><i class="fa fa-refresh"></i> Actualizar lista Productos</button>-->
        <ul class="pagination" id="pagination" >
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </div>
</div>

<!---MODAL PERFIL CLIENTE-->
<div bsModal #perfilClienteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header-producto" id="producto">
                <h4 class="modal-title">Perfil Cliente</h4>
                <button type="button" class="close" (click)="perfilClienteModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

                <div class="modal-body">

                    <div class="imagenUsuario">
                        <div class="imagenPerfil">
                            <img class="imgPerfil"/>
                        </div>
                    </div>
  
    
                    <div class="datosUsuario">
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label"><strong>Nombre: </strong></label>
                            <div class="col-md-9">
                                <p class="form-control-static">Username</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label"><strong>Sexo: </strong></label>
                            <div class="col-md-9">
                                <p class="form-control-static">Username</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label"><strong>Email: </strong></label>
                            <div class="col-md-9">
                                <p class="form-control-static">Username</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label"><strong>Telefono: </strong></label>
                            <div class="col-md-9">
                                <p class="form-control-static">Username</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label"><strong>Municipio: </strong></label>
                            <div class="col-md-9">
                                <p class="form-control-static">Username</p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label"><strong>CP: </strong></label>
                            <div class="col-md-9">
                                <p class="form-control-static">Username</p>
                            </div>
                        </div>

                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>