
.input-group{
 margin-bottom: 20px;
}


.card-header p {
    font-size: 25px;
    position: absolute;
    font-weight: 600;
    line-height: 24px;
    text-align: 29px;
    color: #124570;
}



.card-header {
    background-color: #b7d9f3;
}

#pagination {
    float: right;
}

////////////////////////////MODAL USUARIO///////////////////////

.modal-lg {
    max-width: 1090px;
    width: 65%;
}

.imagenUsuario {
    width: 30%;
    /*height: 45%;*/
    float: left;
    padding: 20px 20px 20px 105px;

}
.imagenPerfil {
    border: 2px dashed #124570;
    border-radius: 150px;
    width: 150px;
    height: 150px;
}
.datosUsuario {
    width: 65%;
    float: right;
    padding: 40px 20px 20px 20px;
}
.col-md-3 {
    max-width: 100%;
}
.modal-footer {
    background-color: #f5f5f5;
}

.form-group {
    margin-bottom: 0rem;
}

.modal-header-producto {
    color: #fff;
    background-color: #20a8d8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #cfd8dc;
}

tab.active.tab-pane {
    overflow: auto;
    height: 390px;
}
.modal-content {
    height: 95%;
}
.modal-dialog.modal-lg {
    height: 100%;
}


.modal-footer {
    display: block;
}
.col-md-12.mb-2 {
    padding-left: 0px;
    padding-right: 0px;
}




/////////////////////////////////////////////////////////////////////