.switch.switch-text .switch-label {
background-color: #f86c6b;
}

/////FILTRO/////////////////
.fp {
    font-size: 14px;
}
.bold {
    font-weight: 700;
}
.col-sm-12.filtro {
    padding-bottom: 15px;
}
/////////////////////////////



////////////////////////////MODAL USUARIO///////////////////////

.modal-lg {
    max-width: 1090px;
    width: 65%;
}

#prodructo {
    height: 67px !important;
}

.imagenUsuario {
    width: 30%;
    /*height: 45%;*/
    float: left;
    padding: 20px 20px 20px 105px;

}
.imagenPerfil {
    border: 2px dashed #124570;
    border-radius: 150px;
    width: 150px;
    height: 150px;
}
.datosUsuario {
    width: 65%;
    float: right;
    padding: 40px 20px 20px 20px;
}
.col-md-3 {
    max-width: 100%;
}
.modal-footer {
    background-color: #f5f5f5;
}

.form-group {
    margin-bottom: 0rem;
}

.modal-header-producto {
    color: #fff;
    background-color: #20a8d8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #cfd8dc;
}

tab.active.tab-pane {
    overflow: auto;
    height: 390px;
}

.modal-dialog.modal-lg {
    height: 100%;
}

.modal-footer {
    display:block;
        height: 100%;
}



.col-md-12.mb-2 {
    padding-left: 0px;
    padding-right: 0px;
}

.modal{
    th.text-center{
      padding-top: 5px !important;
      padding-bottom: 5px !important;
    }

    .table thead th{
        vertical-align:middle !important;
    }
}
/////////////////////////////////////////////////////////////////////

////////////////////////////FACTURA///////////////////////
#datosTienda {
    font-size: 14px;
    text-align: left;
    float: left;
    line-height: 5px;
    padding-bottom: 10px;
    p span{
            font-weight: bold;
        }
}
#datosCliente {
    font-size: 14px;
    text-align: right;
    float: right;
    line-height: 5px;
    padding-bottom: 10px;
        p span{
        font-weight: bold;
        }
}

th.cantidad {
    width: 95px;
}

th.precio {
    width: 95px;
}

.modal-header-factura {
    color: #fff;
    background-color: #20a8d8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #cfd8dc;
}

.importe {
    width: 55%;
    float: right;
    text-align: right;
    line-height: 10px;
}

.total {
    font-size: 25px;
     color: #124570;
     font-weight: bold;
}
.base {
    font-size: 16px;
}
.impuestos {
    text-align:left;
}

/////////////////////////////////////////////////////////////////////