<!---MODAL PERFIL CLIENTE-->
<div bsModal #perfilClienteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="height: 80%;">

            <div class="modal-header-producto" id="producto" style="height: 67px;padding-top: 32px;padding-bottom: 32px;">
                <h4 class="modal-title">{{usuario.Nombre_usuario}}</h4>
                <button type="button" class="close" (click)="hideChildModal()" aria-label="Close">
                    <span aria-hidden="true"><i class="fa fa-remove fa-lg m-t-2"></i></span>
                </button>
            </div>

            <!--MODAL BODY -->
            <div class="modal-body">
                
                <div class="form-group row">
    
                    <div class="col-md-3" style="padding-left: 50px;">
                        <div class="imagenPerfil">
                            <img class="imgPerfil" src="{{usuario.Foto_usuario}}" style="width:100%; height: 100%; object-fit: cover; border-radius: 90px;"/>
                        </div>
                    </div>
                        
                    <div class="col-md-5">
                        <label class="col-md-12 form-control-label"><strong>Nombre: </strong> {{usuario.Nombre_usuario}}</label>
                        <label class="col-md-12 form-control-label"><strong>Email: </strong>{{usuario.Email_usuario}}</label>
                        <label class="col-md-12 form-control-label"><strong>Telefono: </strong> {{usuario.Telefono_usuario}}</label>
                    </div>
                    <div class="col-md-4">
                       <label class="col-md-12 form-control-label"><strong>Sexo: </strong> {{usuario.Sexo_usuario | sexo}}</label>
                       <label class="col-md-12 form-control-label"><strong>CP: </strong>  {{usuario.CP_usuario}}</label>
                       <label class="col-md-12 form-control-label"><strong>Localidad: </strong>  {{usuario.Localidad_usuario}}</label>
                    </div> 
                  
                
              </div>     
      
            </div>
             <!--FIN MODAL BODY -->

            <div class="modal-footer">
                <div class="col-md-12 mb-2">
                    <tabset>
                        
                        <!-- FACTURAS -->
                        <tab heading="Facturas">
                            <div  *ngIf="msgFacturas && loadingFacturas==false" style="text-align:center; margin-bottom:0px; width: 100%" class="alert alert-danger">  {{msgFacturas}} </div>
                            <div *ngIf="loadingFacturas" class="loader"  style="margin-top:30px;"></div>    
                            <table *ngIf="facturas" class="table table-hover table-outline mb-0 hidden-sm-down ">
                                <thead class="thead-default">
                                    <tr>
                                        <th class="text-center" >Nº Fact</th>
                                        <th class="text-center" >Fecha</th>
                                        <th class="text-center">Hora</th>
                                        <th class="text-center">Total</th>
                                        <th class="text-center"></th>
                                    </tr>
                                </thead>                   

                                <tbody *ngIf="!loadingFacturas">

                                    <tr  *ngFor="let factura of facturas" data-toggle="modal" (click)="showFacturaModal(factura)">

                                <td class="text-center" data-toggle="modal">
                                    <p>{{factura.Id_factura}}</p>
                                </td>
                                <td class="text-center" data-toggle="modal">
                                    <p>{{factura.Fecha_factura | fecha}}</p>
                                </td>
                                <td class="text-center" data-toggle="modal">
                                    <p>{{factura.Fecha_factura | hora}}</p>
                                </td>
                                <td class="text-center" data-toggle="modal">
                                    <p class="totalT" style="font-size: 16px;">{{factura.Total_factura}} <i class="fa fa-eur"></i></p>
                                </td>
                                        <td id="actualizar" class="text-center actualizar">
                                            <button class="btn btn-primary" type="button" data-toggle="modal" (click)="showFacturaModal(factura)" style="font-size: 0.75rem;line-height: 1;"><i class="fa fa-info-circle"></i>&nbsp; Ver</button>
                                        </td>
                                    </tr>                                           
                                </tbody>
                       
                            </table>
                        </tab>
                        <!-- FIN FACTURAS -->
                        
                        <!-- OFERTAS-->
                        <tab heading="Ofertas">
                            <div  *ngIf="msgOfertas && loadingFacturas==false" style="text-align:center; margin-bottom:0px; width: 100%;" class="alert alert-danger">  {{msgOfertas}} </div>
                            <div *ngIf="loadingFacturas" class="loader"  style="margin-top:30px;"></div>           
                            <table *ngIf="ofertas" class="table table-hover table-outline mb-0 hidden-sm-down">
                                <thead class="thead-default">
                                    <tr > 
                                        <!-- <th class="text-center" style="width: 75px;"><input type="checkbox" name="" value=""></th> -->
                                        <th class="text-center" style="width: 130px;">Imagen</th>
                                        <th class="text-center" style="width: 100px;">Cod</th>
                                        <th class="text-center" style="width: 20%;">Nombre</th>
                                        <th class="text-center" style="width: 150px;">Precio</th>
                                        <th class="oferta" style = "text-align: center; width: 100px;">Oferta</th>
                                        <th class="text-center" style="width: 100px;"></th> 
                                    </tr>
                                </thead>
                                <tbody> 
                                    <tr *ngFor="let oferta of ofertas">
                                        <!--<td class="text-center">
                                            <input type="checkbox" name="" value="">
                                        </td>--> 

                                        <td class="text-center" (click)="showOfertaModal(oferta)" >
                                            <div class="avatar">
                                                <img src="{{oferta.Foto_oferta_usuario}}" class="img-avatar">
                                                <span *ngIf="" class="avatar-status badge-success"></span>
                                            </div>
                                        </td>

                                        <td class="text-center" (click)="showOfertaModal(oferta)" >
                                            <p>{{oferta.Id_oferta_usuario}}</p>
                                        </td>

                                        <td class="text-center" (click)="showOfertaModal(oferta)" >
                                            <p class="nombre">{{oferta.Nombre_producto}}</p>
                                        </td>

                                        <td class="text-center" (click)="showOfertaModal(oferta)" >
                                            <p>{{oferta.Precio_producto}}<i class="fa fa-eur"></i></p>
                                        </td>
                                        <td class="text-center"(click)="showOfertaModal(oferta)" >
                                            <p>{{oferta.P_oferta_oferta_usuario}}<i class="fa fa-percent"></i></p>
                                        </td>

                                        <td class="text-center">
                                            <button class="btn btn-primary" (click)="showOfertaModal(oferta)" type="button" data-toggle="modal" style="font-size: 0.75rem;line-height: 1;"><i class="fa fa-info-circle"></i> Ver</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </tab>
                        <!--FIN OFERTAS-->

                    </tabset>
                </div>
            </div>

        </div>
    </div>
</div>

<!---MODAL FACTURAS  CLIENTE-->
<modal-detalle-facturas></modal-detalle-facturas>

<!-- MODAL DETALLE OFERTA -->
<modal-detalle-oferta></modal-detalle-oferta>  