
.input-group{
 margin-bottom: 20px;
}


.card-header p {
    font-size: 25px;
    position: absolute;
    font-weight: 600;
    line-height: 24px;
    text-align: 29px;
    color: #124570;
}

.card-header {
    background-color: #b7d9f3;
}

.card-header {
    background-color: #b7d9f3;
}

#pagination {
    float: right;
    padding-top: 20px;
}

////////////////////////////MODAL USUARIO///////////////////////

.modal-lg {
    max-width: 1090px;
    width: 65%;
}

.imagenUsuario {
    width: 50%;
    height: 45%;
    float: left;
    padding: 20px 20px 20px 105px;

}
.imagenPerfil {
    border: 1px solid red;
    border-radius: 150px;
    width: 300px;
    height: 300px;
}
.datosUsuario {
    width: 45%;
    float: right;
    padding: 20px 20px 20px 20px;
}

.modal-header-producto {
    color: #fff;
    background-color: #20a8d8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #cfd8dc;
}
/////////////////////////////////////////////////////////////////////