
<!-- 
<div class='alert'>{{alertMessage}}</div>
<button type="button" class="btn btn-success" (click)="onLoginClicked()" >Enviar datos login Usuario Emilio</button>
<button type="button" class="btn btn-warning" (click)="enviarToken()" >Enviar token y recibir objeto</button>
--> 

<div class="animated fadeIn">
    <div class="row">
        <!-- PRIMERA FILA -->
        <!--
        <div class="col-sm-6 col-md-3">
            <div class="card card-inverse card-info">
                <div class="card-block">
                    <div class="h1 text-muted text-right mb-2">
                        <i class="icon-people"></i>
                    </div>
                    <div class="h4 mb-0">87.500</div>
                    <small class="text-muted text-uppercase font-weight-bold">USUARIOS TOTALES</small>
                    <div class="progress progress-white progress-xs mt-1">
                        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div> --> 
        <div class="col-sm-6 col-md-3">
            <div class="card card-inverse card-info">
                <div class="card-block tarjetasDashboard">
                    <i *ngIf="loadingUsers==true" class="fa fa-spinner fa-spin spinnerDashboard" ></i>
                    <div class="h1 text-muted text-right mb-2">
                        <i class="icon-people"></i>
                    </div>
                    <div *ngIf="loadingUsers==true" class="h4 mb-0" style="color:transparent;" >Cargando...</div>
                    <div  *ngIf="loadingUsers==false" class="h4 mb-0">{{totalUsers}}</div>
                    <small class="text-muted text-uppercase font-weight-bold">USUARIOS TOTALES</small>

                </div>
            </div>
        </div>
        
        <div class="col-sm-6 col-md-3">
            <div class="card card-inverse card-success">
                <div class="card-block tarjetasDashboard" >
                    <i  class="fa fa-spinner fa-spin spinnerDashboard" ></i>
                    <div class="h1 text-muted text-right mb-2">
                        <i class="icon-user-follow"></i>
                    </div>
                    <div class="h4 mb-0">385</div>
                    <small class="text-muted text-uppercase font-weight-bold">Nuevos Usuarios</small>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="card card-inverse card-warning">
                <div class="card-block tarjetasDashboard" >
                    <i  class="fa fa-spinner fa-spin spinnerDashboard" ></i>
                    <div class="h1 text-muted text-right mb-2">
                        <i class="icon-basket-loaded"></i>
                    </div>
                    <div class="h4 mb-0">1238</div>
                    <small class="text-muted text-uppercase font-weight-bold">Compradores totales</small>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="card card-inverse card-danger">
                <div class="card-block tarjetasDashboard ">
                    <i  class="fa fa-spinner fa-spin spinnerDashboard" ></i>
                    <div class="h1 text-muted text-right mb-2">
                        <i class="icon-docs"></i>
                    </div>
                    <div class="h4 mb-0">324</div>
                    <small class="text-muted text-uppercase font-weight-bold">Facturas Generados</small>
                </div>
            </div>
        </div>
        <!--FIN PRIMERA FILA -->

      <!--Widget Grande -->
        <div class="card col-sm-12">
            <div class="card-block">
                <div class="row">
                    <div class="col-sm-5">
                        <h4 class="card-title mb-0">Total Facturado</h4>
                        <div class="small text-muted">Noviembre 2015</div>
                    </div>
                    <!--/.col-->
                    <div class="col-sm-7 hidden-sm-down">
                        <button type="button" class="btn btn-primary float-right"><i class="icon-cloud-download"></i>
                        </button>
                        <div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-1" data-toggle="buttons" aria-label="First group">
                                <label class="btn btn-outline-secondary">
                                    <input type="radio" name="options" id="option1">Día
                                </label>
                                <label class="btn btn-outline-secondary active">
                                    <input type="radio" name="options" id="option2" checked>Mes
                                </label>
                                <label class="btn btn-outline-secondary">
                                    <input type="radio" name="options" id="option3">Año
                                </label>
                            </div>
                        </div>
                    </div>
                    <!--/.col-->
                </div>
                <!--/.row-->
                <div class="chart-wrapper" style="height:300px;margin-top:40px;">
                    <canvas baseChart class="chart" [datasets]="mainChartData" [labels]="mainChartLabels" [options]="mainChartOptions" [colors]="mainChartColours" [legend]="mainChartLegend" [chartType]="mainChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
        </div> 

        <!--Ultima fila widgets-->
        


         <!--Barras1--> 
        <div class="col-sm-6 col-md-6">
            <div class="card">
                <div class="card-header">
                    Ofertas más utilizadas
                    <div class="card-actions">
                        <a href="http://www.chartjs.org">
                            <small class="text-muted">docs</small>
                        </a>
                    </div>
                </div>
                <div class="card-block">
                    <div class="chart-wrapper">
                        <canvas baseChart class="chart" [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!--Barras2--> 
        <div class="col-sm-6 col-md-6">
            <div class="card">
                <div class="card-header">
                    Productos más vendidos
                    <div class="card-actions">
                        <a href="http://www.chartjs.org">
                            <small class="text-muted">docs</small>
                        </a>
                    </div>
                </div>
                <div class="card-block">
                    <div class="chart-wrapper">
                        <canvas baseChart class="chart" [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!--Pie Chart-->       
        <div class="col-sm-6 col-md-6">
            <div class="card">
                <div class="card-header">
                    Sistemas Operativos
                    <div class="card-actions">
                        <a href="http://www.chartjs.org">
                            <small class="text-muted">docs</small>
                        </a>
                    </div>
                </div>
                <div class="card-block">
                    <div class="chart-wrapper">
                        <canvas baseChart class="chart" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                    </div>
                </div>
            </div>
        </div>
 
        <!--Doughnut Chart-->  
        <div class="col-sm-6 col-md-6">
            <div class="card">
                <div class="card-header">
                    Doughnut Chart
                    <div class="card-actions">
                        <a href="http://www.chartjs.org">
                            <small class="text-muted">docs</small>
                        </a>
                    </div>
                </div>
                <div class="card-block">
                    <div class="chart-wrapper">
                        <canvas baseChart class="chart" [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                    </div>
                </div>
            </div>
        </div> 


    </div>
</div> 