// Here you can add other styles

.container-fluid {
    //background-color: #b7d9f3;
}
ol.breadcrumb {
   // margin-bottom: 0px;
}




/////////////////////////DASHBOARD//////////////////
.h4.mb-0 {
    font-size: 50px;
    margin-top: -80px;
}
small.text-muted.text-uppercase.font-weight-bold {
    font-size: 16px;
}

#diagramaI {
    height: 460px !important;
    width: 460px !important; 
    margin-left: 15%;
}

#diagramaD {
    height: 460px !important;
    width: 460px !important; 
    margin-left: 15%;
}
@media (max-width: 1550px) {
    .h4.mb-0 {
    font-size: 45px;
    }
    small.text-muted.text-uppercase.font-weight-bold {
    font-size: 14px;
    }
    #diagramaI {
         margin-left: 12%;
    }

    #diagramaD {
         margin-left: 12%;
    }
}

@media (max-width: 1430px) {
    small.text-muted.text-uppercase.font-weight-bold {
        font-size: 14px;
        }
    .h4.mb-0 {
        font-size: 40px;
        margin-top: -70px;
        }
    #diagramaI {
        margin-left: 5%;
    }
    #diagramaD {
        margin-left: 5%;
    }
}
@media (max-width: 1330px) {
    small.text-muted.text-uppercase.font-weight-bold {
        font-size: 12px;
        }
    .h4.mb-0 {
        font-size: 35px;
        margin-top: -70px;
        }
    #diagramaI {
        height: 440px !important;
        width: 440px !important; 
        margin-left: 0%;
    }
    #diagramaD {
        height: 440px !important;
        width: 440px !important; 
        margin-left: 0%;
    }
}
@media (max-width: 1200px) {
    .h4.mb-0 {
        font-size: 30px;
        margin-top: -60px;
    }
    #diagramaI {
        height: 400px !important;
        width: 400px !important; 
        margin-left: 0%;
    }
    #diagramaD {
        height: 400px !important;
        width: 400px !important; 
        margin-left: 0%;
    }
}

@media (max-width: 1160px) {
    small.text-muted.text-uppercase.font-weight-bold {
        font-size: 10px;
        }
    .h4.mb-0 {
        font-size: 25px;
        margin-top: -60px;
    }
    #diagramaI {
        height: 350px !important;
        width: 350px !important; 
        margin-left: 0%;
    }
    #diagramaD {
        height: 350px !important;
        width: 350px !important; 
        margin-left: 0%;
    }
}

////////////////////////////////////////////////////





/////////HEADER/////////
.input-group{
 margin-bottom: 20px;
}
.card-header p {
    font-size: 25px;
    position: absolute;
    font-weight: 600;
    line-height: 24px;
    text-align: 29px;
   /* color: #124570;*/
    color: white;
}

.card-header {
    /*background-color: #b7d9f3;*/
    background-color: #517fa4;
    padding-bottom: 35px;
}
#pagination {
    float: right;
}
.pagination {
    float: right;
    padding-right: 10px;
}

//////////////////////////



button { cursor: pointer; cursor: hand; }

#ultimonav{
    position: absolute;
    bottom: 0px;
    background-color: #1e272b;
    width: 100%;
    cursor: pointer;
}
li.nav-item.dropdown {
    padding-right: 30px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1.5s linear infinite;
    margin:0 auto;
    margin-bottom: 30px;
    
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spinnerDashboard{
    font-size: 40px;
    position: absolute;
    top: 20%;
    opacity: 0.6;
    left: 50%;
    font-size: 42px;
    margin-left: -24px; //le restas la mitad del tamaño
}

.tarjetasDashboard{
    position:relative;
}

td.text-center {
    padding-top: 5px;
    padding-bottom: 5px;
}