// Here you can add other styles

.container-fluid {
    //background-color: #b7d9f3;
}
ol.breadcrumb {
   // margin-bottom: 0px;
}
/*
.card-header p {
    font-size: 25px;
    position: absolute;
    font-weight: 600;
    line-height: 24px;
    text-align: 29px;
    color: #124570;
    background-color: #b7d9f3;
}
*/
button { cursor: pointer; cursor: hand; }

#ultimonav{
    position: absolute;
    bottom: 0px;
    background-color: #1e272b;
    width: 100%;
}

